<a href="https://colab.research.google.com/github/trewto/Rainfall-Trends-in-Bangladesh-Analysis/blob/main/mk_slope_lastedit_4March2025_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/research/Rainfall_1981-2022.xlsx', header=0,na_values=[''])

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df.head()

,Stati,Year,Month,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,Dhaka,1981,1,5,NaN,4,5,5,0,0,...,0,0,0,0,0,0,0,0,0,6
1,Dhaka,1981,2,9,2,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,Dhaka,1981,3,0,0,0,0,0,0,0,...,10,0,10,0,13,0,8,0,2,0
3,Dhaka,1981,4,41,2,0,0,4,0,0,...,0,2,0,0,0,0,0,0,3,NaN
4,Dhaka,1981,5,0,0,0,0,20,8,0,...,20,0,0,13,1,1,1,43,45,0

In [ ]:
# prompt: check how manny cell value is  "Trace" or "Xx"

# Count occurrences of "Trace" or "Xx" in the DataFrame
#trace_count = df[df.applymap(lambda x: isinstance(x, str) and x.lower() == 'trace').any(axis=1)].shape[0]
#xx_count = df[df.applymap(lambda x: isinstance(x, str) and x.lower() == 'xx').any(axis=1)].shape[0]
#xx_count = df[df.applymap(lambda x: isinstance(x, str) and x.lower() == '***').any(axis=1)].shape[0]


#print(f"Number of rows with 'Trace': {trace_count}")
#print(f"Number of rows with 'Xx': {xx_count}")

In [ ]:
# prompt: if a collum value is  "Trace" or "Xx" , convert it to 0

df.replace(to_replace=['Trace', 'Xx','***'], value=0, inplace=True)

In [ ]:
df.head()

,Stati,Year,Month,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,Dhaka,1981,1,5,NaN,4,5,5,0,0,...,0,0,0,0,0,0,0,0,0,6
1,Dhaka,1981,2,9,2,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,Dhaka,1981,3,0,0,0,0,0,0,0,...,10,0,10,0,13,0,8,0,2,0
3,Dhaka,1981,4,41,2,0,0,4,0,0,...,0,2,0,0,0,0,0,0,3,NaN
4,Dhaka,1981,5,0,0,0,0,20,8,0,...,20,0,0,13,1,1,1,43,45,0

In [ ]:
# Convert each column from 1 to 31 to numeric, forcing errors to NaN
for col in range(1, 32):  # loop through column names 1 to 31
    df[col] = pd.to_numeric(df[col], errors='coerce')  # convert to numeric and coerce errors

# Check the dtypes to ensure conversion
#print(df.loc[:, 1:31].dtypes)  # This will show the data types of the columns from 1 to 31

# Now apply interpolation to fill NaN values
df.loc[:, 1:31] = df.loc[:, 1:31].interpolate(method='linear', axis=1)

# Sum the columns from 1 to 31 row-wise, ignoring NaN values
df['sum_1_to_31'] = df.loc[:, 1:31].sum(axis=1)

# Check the resulting dataframe
df = df[['Stati','Year', 'Month', 'sum_1_to_31']]

df.head()

          Stati  Year Month  sum_1_to_31
0  Dhaka         1981     1         33.5
1  Dhaka         1981     2         42.0
2  Dhaka         1981     3        109.0
3  Dhaka         1981     4        277.0
4  Dhaka         1981     5        272.0

In [ ]:
# Convert day columns (1 to 31) to numeric, forcing errors to NaN
#df.loc[:, 1:31] = df.loc[:, 1:31].apply(pd.to_numeric, errors='coerce')
#df.loc[:, 1:31] = df.loc[:, 1:31].interpolate(method='linear', axis=1)
#if needed remove this later// which will be proper way to handle the missing value
#df.loc[:, 1:31] = df.loc[:, 1:31].fillna(df.loc[:, 1:31].mean(axis=1), axis=0)

## Sum the columns from 1 to 31 row-wise, ignoring NaN values
#df['sum_1_to_31'] = df.loc[:, 1:31].sum(axis=1)
#df.head()

In [ ]:
print(df['Stati'].unique())

['Dhaka       ' nan
 '          Daily  total  Rainfall  data  in  Millimeter  ' 'Stati'
 'Tangail     ' 'Mymensingh  ' 'Faridpur' 'Madaripur   ' 'Srimangal   '
 'Sylhet      ' 'Bogra       ' 'Dinajpur    ' 'Ishurdi     '
 'Rajshahi    ' 'Rangpur     ' 'sydpur      ' 'chuadanga   '
 'Jessore     ' 'Khulna      ' 'Mongla      ' 'Satkhira    '
 'Barisal     ' 'Bhola       ' 'Khepupara   ' 'Patuakhali  '
 'Chandpur    ' 'Teknaf      ' 'Chittagong  ' 'Comilla     '
 "Cox'sbazar  " 'Feni        ' 'Hatiya      ' 'Kutubdia    '
 'M.court     ' 'Rangamati   ' 'Sandwip     ' 'Ambagan(Ctg)'
 'Sitakunda   ']

In [ ]:
unique_city = df['Stati'].unique()
print(unique_city[0])

Dhaka

In [ ]:
p = 0
for city in unique_city:
    #print index and city name
    print(city,p)
    p= p+1

Dhaka        0
nan 1
          Daily  total  Rainfall  data  in  Millimeter   2
Stati 3
Tangail      4
Mymensingh   5
Faridpur 6
Madaripur    7
Srimangal    8
Sylhet       9
Bogra        10
Dinajpur     11
Ishurdi      12
Rajshahi     13
Rangpur      14
sydpur       15
chuadanga    16
Jessore      17
Khulna       18
Mongla       19
Satkhira     20
Barisal      21
Bhola        22
Khepupara    23
Patuakhali   24
Chandpur     25
Teknaf       26
Chittagong   27
Comilla      28
Cox'sbazar   29
Feni         30
Hatiya       31
Kutubdia     32
M.court      33
Rangamati    34
Sandwip      35
Ambagan(Ctg) 36
Sitakunda    37

In [ ]:
df_city = df[df['Stati'] == 'Dinajpur    ']
df_city = df_city[['Year', 'Month', 'sum_1_to_31']]
df_city.head(20)

      Year Month  sum_1_to_31
4124  1981     1         27.0
4125  1981     2         47.0
4126  1981     3          0.0
4127  1981     4         78.0
4128  1981     5        595.0
4129  1981     6        103.0
4130  1981     7        715.0
4131  1981     8        289.0
4132  1981     9        256.0
4133  1981    10          0.0
4134  1981    11          5.0
4135  1981    12         44.0
4136  1982     1          0.0
4137  1982     2          2.0
4138  1982     3          8.0
4139  1982     4        111.0
4140  1982     5        101.0
4141  1982     6        264.0
4142  1982     7        260.0
4143  1982     8        361.0

In [ ]:
!pip install pymannkendall

Collecting pymannkendall
  Downloading pymannkendall-1.4.3-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pymannkendall) (1.26.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (from pymannkendall) (1.13.1)
Downloading pymannkendall-1.4.3-py3-none-any.whl (12 kB)
Installing collected packages: pymannkendall
Successfully installed pymannkendall-1.4.3

In [ ]:
import pandas as pd
import pymannkendall as mk

# Function to calculate Mann-Kendall slope (Sen's slope) and Zmk for each month
def calculate_mk_slope(df,city_name):
    # Initialize a result dictionary to store Zmk and Q values for each month
    results = {}

    # Loop over each month (1 to 12)
    for month in range(1, 13):

        # Filter data for the specific month
        month_data = df[df['Month'] == month]
        print(month_data)
        # Perform Mann-Kendall test (it returns Zmk and Sen's slope Q)
        mk_test_result = mk.original_test(month_data['sum_1_to_31'])
        print(mk_test_result)
        # Store the results in the dictionary
        #results[month] = {'City':city_name,'Zmk': mk_test_result.z, 'Q (Sen\'s slope)': mk_test_result.slope}
        #for main
        #results[month] = {f"Zmk_{city_name}": mk_test_result.z, f'Q (Sen\'s slope)': mk_test_result.slope}
        #for only trend
        results[month] = {f"Zmk_{city_name}": mk_test_result.trend}

    # Convert the result dictionary into a DataFrame for better visualization
    results_df = pd.DataFrame(results)
#    results_df = pd.DataFrame(results).T
    return results_df

In [ ]:
# dataframe is named df_city
mk_results = calculate_mk_slope(df_city,"Dinajpur")
print(mk_results)

      Year Month  sum_1_to_31
4124  1981     1         27.0
4136  1982     1          0.0
4148  1983     1         11.0
4160  1984     1         46.0
4172  1985     1          0.0
4184  1986     1          0.0
4196  1987     1          1.0
4208  1988     1          1.0
4220  1989     1         22.0
4232  1990     1          0.0
4244  1991     1         27.0
4256  1992     1          6.0
4268  1993     1         42.0
4280  1994     1         23.0
4292  1995     1          3.0
4304  1996     1         16.0
4316  1997     1         21.0
4328  1998     1          2.0
4340  1999     1          0.0
4352  2000     1          0.0
4364  2001     1          0.0
4376  2002     1          8.0
4388  2003     1         11.0
4400  2004     1          7.0
4412  2005     1          9.0
4424  2006     1          0.0
4436  2007     1          0.0
4448  2008     1         33.0
4460  2009     1          0.0
4472  2010     1          0.0
4484  2011     1          0.0
4496  2012     1          5.0
4508  2013     1          0.0
4520  2014     1          0.0
4532  2015     1         25.0
4544  2016     1         11.0
4556  2017     1          5.0
4568  2018     1          0.0
4580  2019     1          0.0
4592  2020     1          5.0
4604  2021     1          0.0
4616  2022     1         18.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.15671485004879404, z=-1.4162071946011903, Tau=-0.14750290360046459, s=-127.0, var_s=7915.666666666667, slope=0.0, intercept=4.0)
      Year Month  sum_1_to_31
4125  1981     2         47.0
4137  1982     2          2.0
4149  1983     2          0.0
4161  1984     2          3.0
4173  1985     2          5.0
4185  1986     2          0.0
4197  1987     2         41.0
4209  1988     2         10.0
4221  1989     2          8.0
4233  1990     2          6.0
4245  1991     2         13.0
4257  1992     2          6.0
4269  1993     2          0.0
4281  1994     2         22.0
4293  1995     2         12.0
4305  1996     2          4.0
4317  1997     2         11.0
4329  1998     2         17.0
4341  1999     2          0.0
4353  2000     2         30.0
4365  2001     2          0.0
4377  2002     2         18.0
4389  2003     2         34.0
4401  2004     2          0.0
4413  2005     2         15.0
4425  2006     2          0.0
4437  2007     2         30.0
4449  2008     2          1.0
4461  2009     2          0.0
4473  2010     2          0.0
4485  2011     2         28.0
4497  2012     2          5.0
4509  2013     2         10.0
4521  2014     2         31.0
4533  2015     2          3.0
4545  2016     2          0.0
4557  2017     2          0.0
4569  2018     2          0.0
4581  2019     2         51.0
4593  2020     2          7.0
4605  2021     2          0.0
4617  2022     2         61.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.9560752450332655, z=-0.055079353070799954, Tau=-0.006968641114982578, s=-6.0, var_s=8240.666666666666, slope=0.0, intercept=6.0)
      Year Month  sum_1_to_31
4126  1981     3          0.0
4138  1982     3          8.0
4150  1983     3         20.0
4162  1984     3         13.0
4174  1985     3          1.0
4186  1986     3          0.0
4198  1987     3         70.0
4210  1988     3         17.0
4222  1989     3          1.0
4234  1990     3         41.0
4246  1991     3          1.0
4258  1992     3          1.0
4270  1993     3         29.0
4282  1994     3          0.0
4294  1995     3         10.0
4306  1996     3          0.0
4318  1997     3          3.0
4330  1998     3         24.0
4342  1999     3          0.0
4354  2000     3          1.0
4366  2001     3          0.0
4378  2002     3         13.0
4390  2003     3         53.0
4402  2004     3         12.0
4414  2005     3         37.0
4426  2006     3          1.0
4438  2007     3          2.0
4450  2008     3         19.0
4462  2009     3         10.0
4474  2010     3          0.0
4486  2011     3         27.0
4498  2012     3          3.0
4510  2013     3          0.0
4522  2014     3          2.0
4534  2015     3         28.0
4546  2016     3         25.0
4558  2017     3        102.0
4570  2018     3         29.0
4582  2019     3          0.0
4594  2020     3         29.0
4606  2021     3          0.0
4618  2022     3          0.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.7338593698694926, z=0.33999622621614334, Tau=0.03716608594657375, s=32.0, var_s=8313.333333333334, slope=0.0, intercept=5.5)
      Year Month  sum_1_to_31
4127  1981     4         78.0
4139  1982     4        111.0
4151  1983     4          9.0
4163  1984     4         53.0
4175  1985     4         21.0
4187  1986     4         76.0
4199  1987     4        134.0
4211  1988     4        108.0
4223  1989     4          0.0
4235  1990     4        159.0
4247  1991     4         18.0
4259  1992     4          5.0
4271  1993     4         85.0
4283  1994     4         81.0
4295  1995     4          0.0
4307  1996     4         29.0
4319  1997     4         64.0
4331  1998     4        148.0
4343  1999     4         68.0
4355  2000     4        147.0
4367  2001     4          5.0
4379  2002     4        188.0
4391  2003     4        105.0
4403  2004     4        164.0
4415  2005     4         89.0
4427  2006     4         67.0
4439  2007     4         33.0
4451  2008     4         27.0
4463  2009     4         45.0
4475  2010     4        118.0
4487  2011     4         61.0
4499  2012     4         57.0
4511  2013     4         99.0
4523  2014     4          3.0
4535  2015     4         91.0
4547  2016     4         26.0
4559  2017     4        192.0
4571  2018     4         82.0
4583  2019     4        130.0
4595  2020     4         95.0
4607  2021     4         22.0
4619  2022     4         79.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.5438740772051169, z=0.6069650942849887, Tau=0.06620209059233449, s=57.0, var_s=8512.333333333334, slope=0.4166666666666667, intercept=68.45833333333333)
      Year Month  sum_1_to_31
4128  1981     5        595.0
4140  1982     5        101.0
4152  1983     5        311.0
4164  1984     5        311.0
4176  1985     5        146.0
4188  1986     5        178.0
4200  1987     5        116.0
4212  1988     5        170.0
4224  1989     5        408.0
4236  1990     5        245.0
4248  1991     5        400.0
4260  1992     5         87.0
4272  1993     5        308.0
4284  1994     5        146.0
4296  1995     5         54.0
4308  1996     5         76.0
4320  1997     5         90.0
4332  1998     5        152.0
4344  1999     5        367.0
4356  2000     5        325.0
4368  2001     5        222.0
4380  2002     5        104.0
4392  2003     5        147.0
4404  2004     5        278.0
4416  2005     5        255.0
4428  2006     5        259.0
4440  2007     5        121.0
4452  2008     5        220.0
4464  2009     5        369.0
4476  2010     5        206.0
4488  2011     5        250.0
4500  2012     5         79.0
4512  2013     5        133.0
4524  2014     5        186.0
4536  2015     5        376.0
4548  2016     5        221.0
4560  2017     5        175.0
4572  2018     5        155.0
4584  2019     5        187.0
4596  2020     5        466.0
4608  2021     5        278.0
4620  2022     5        413.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.5084858278152236, z=0.6611972450184032, Tau=0.07200929152148665, s=62.0, var_s=8511.333333333334, slope=0.90625, intercept=194.421875)
      Year Month  sum_1_to_31
4129  1981     6        103.0
4141  1982     6        264.0
4153  1983     6        159.0
4165  1984     6        457.0
4177  1985     6        564.0
4189  1986     6        209.0
4201  1987     6        277.0
4213  1988     6        347.0
4225  1989     6        263.0
4237  1990     6        383.0
4249  1991     6        376.0
4261  1992     6        212.0
4273  1993     6        509.0
4285  1994     6        352.0
4297  1995     6        287.0
4309  1996     6        345.0
4321  1997     6        732.0
4333  1998     6        269.0
4345  1999     6        299.0
4357  2000     6        399.0
4369  2001     6        573.0
4381  2002     6        689.0
4393  2003     6        392.0
4405  2004     6        517.0
4417  2005     6        477.0
4429  2006     6        223.0
4441  2007     6        474.0
4453  2008     6        367.0
4465  2009     6        457.0
4477  2010     6        515.0
4489  2011     6        372.0
4501  2012     6        381.0
4513  2013     6        400.0
4525  2014     6        272.0
4537  2015     6        273.0
4549  2016     6        129.0
4561  2017     6        159.0
4573  2018     6        126.0
4585  2019     6        303.0
4597  2020     6        403.0
4609  2021     6        304.0
4621  2022     6        432.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.5730192770050047, z=0.5636104446932038, Tau=0.06155632984901278, s=53.0, var_s=8512.333333333334, slope=0.7272727272727273, intercept=344.59090909090907)
      Year Month  sum_1_to_31
4130  1981     7        715.0
4142  1982     7        260.0
4154  1983     7        700.0
4166  1984     7        470.0
4178  1985     7        484.0
4190  1986     7        500.0
4202  1987     7       1196.0
4214  1988     7        401.0
4226  1989     7        412.0
4238  1990     7        479.0
4250  1991     7        184.0
4262  1992     7        535.0
4274  1993     7        218.0
4286  1994     7        148.0
4298  1995     7        472.0
4310  1996     7        428.0
4322  1997     7        461.0
4334  1998     7        566.0
4346  1999     7        403.0
4358  2000     7        197.0
4370  2001     7        158.0
4382  2002     7        795.0
4394  2003     7        532.0
4406  2004     7        602.0
4418  2005     7        507.0
4430  2006     7        218.0
4442  2007     7        401.0
4454  2008     7        437.0
4466  2009     7        281.0
4478  2010     7        356.0
4490  2011     7        285.0
4502  2012     7        435.0
4514  2013     7        255.0
4526  2014     7        293.0
4538  2015     7        328.0
4550  2016     7        446.0
4562  2017     7        195.0
4574  2018     7        165.0
4586  2019     7        680.0
4598  2020     7        618.0
4610  2021     7        185.0
4622  2022     7        182.0
Mann_Kendall_Test(trend='decreasing', h=True, p=0.03186857856113123, z=-2.146055154793353, Tau=-0.2311265969802555, s=-199.0, var_s=8512.333333333334, slope=-5.84, intercept=539.72)
      Year Month  sum_1_to_31
4131  1981     8        289.0
4143  1982     8        361.0
4155  1983     8        363.0
4167  1984     8        270.0
4179  1985     8        278.0
4191  1986     8        329.0
4203  1987     8        798.0
4215  1988     8        848.0
4227  1989     8        232.0
4239  1990     8        251.0
4251  1991     8        282.0
4263  1992     8        228.0
4275  1993     8        565.0
4287  1994     8        122.0
4299  1995     8        593.0
4311  1996     8        353.0
4323  1997     8        330.0
4335  1998     8        548.0
4347  1999     8        587.0
4359  2000     8        195.0
4371  2001     8        318.0
4383  2002     8        246.0
4395  2003     8        197.0
4407  2004     8        128.0
4419  2005     8        597.0
4431  2006     8        126.0
4443  2007     8        233.0
4455  2008     8        385.0
4467  2009     8        471.0
4479  2010     8        290.0
4491  2011     8        381.0
4503  2012     8        106.0
4515  2013     8        469.0
4527  2014     8        181.0
4539  2015     8        590.0
4551  2016     8        119.0
4563  2017     8        655.0
4575  2018     8        164.0
4587  2019     8        328.0
4599  2020     8        318.0
4611  2021     8        412.0
4623  2022     8        237.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.4415966439459025, z=-0.769499832468563, Tau=-0.08362369337979095, s=-72.0, var_s=8513.333333333334, slope=-1.5, intercept=348.75)
      Year Month  sum_1_to_31
4132  1981     9        256.0
4144  1982     9        164.0
4156  1983     9        320.0
4168  1984     9        498.0
4180  1985     9        326.0
4192  1986     9        267.0
4204  1987     9        430.0
4216  1988     9        200.0
4228  1989     9        564.0
4240  1990     9        352.0
4252  1991     9        647.0
4264  1992     9        483.0
4276  1993     9        364.0
4288  1994     9        248.0
4300  1995     9       1041.0
4312  1996     9        747.0
4324  1997     9        289.0
4336  1998     9        317.0
4348  1999     9        589.0
4360  2000     9        196.0
4372  2001     9        468.0
4384  2002     9        482.0
4396  2003     9        239.0
4408  2004     9        253.0
4420  2005     9        222.0
4432  2006     9        340.0
4444  2007     9        234.0
4456  2008     9        245.0
4468  2009     9        128.0
4480  2010     9        107.0
4492  2011     9        261.0
4504  2012     9        349.0
4516  2013     9        191.0
4528  2014     9        424.0
4540  2015     9        251.0
4552  2016     9        491.0
4564  2017     9        138.0
4576  2018     9        195.0
4588  2019     9        524.0
4600  2020     9        831.0
4612  2021     9        120.0
4624  2022     9        227.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.1238264440291208, z=-1.5389092852916602, Tau=-0.16608594657375145, s=-143.0, var_s=8514.333333333334, slope=-2.675675675675676, intercept=357.85135135135135)
      Year Month  sum_1_to_31
4133  1981    10          0.0
4145  1982    10         42.0
4157  1983    10        177.0
4169  1984    10         65.0
4181  1985    10        282.0
4193  1986    10        365.0
4205  1987    10        112.0
4217  1988    10        106.0
4229  1989    10         82.0
4241  1990    10        193.0
4253  1991    10         29.0
4265  1992    10         76.0
4277  1993    10         64.0
4289  1994    10         89.0
4301  1995    10         77.0
4313  1996    10         75.0
4325  1997    10          3.0
4337  1998    10        380.0
4349  1999    10        234.0
4361  2000    10         25.0
4373  2001    10        382.0
4385  2002    10         56.0
4397  2003    10        380.0
4409  2004    10        330.0
4421  2005    10        770.0
4433  2006    10         21.0
4445  2007    10         51.0
4457  2008    10         45.0
4469  2009    10        267.0
4481  2010    10         82.0
4493  2011    10          0.0
4505  2012    10         91.0
4517  2013    10        309.0
4529  2014    10         21.0
4541  2015    10          0.0
4553  2016    10        199.0
4565  2017    10        144.0
4577  2018    10          8.0
4589  2019    10        151.0
4601  2020    10         95.0
4613  2021    10        442.0
4625  2022    10         97.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.8622850297032509, z=0.17346615405285404, Tau=0.019744483159117306, s=17.0, var_s=8507.666666666666, slope=0.23076923076923078, intercept=85.26923076923077)
      Year Month  sum_1_to_31
4134  1981    11          5.0
4146  1982    11         29.0
4158  1983    11          0.0
4170  1984    11          0.0
4182  1985    11          0.0
4194  1986    11          0.0
4206  1987    11          7.0
4218  1988    11         24.0
4230  1989    11          0.0
4242  1990    11          0.0
4254  1991    11          0.0
4266  1992    11          6.0
4278  1993    11         15.0
4290  1994    11          0.0
4302  1995    11         74.0
4314  1996    11          0.0
4326  1997    11          0.0
4338  1998    11          0.0
4350  1999    11          5.0
4362  2000    11          0.0
4374  2001    11         53.0
4386  2002    11          6.0
4398  2003    11          0.0
4410  2004    11          0.0
4422  2005    11          0.0
4434  2006    11         23.0
4446  2007    11          0.0
4458  2008    11          0.0
4470  2009    11          1.0
4482  2010    11          1.0
4494  2011    11          3.0
4506  2012    11          1.0
4518  2013    11          0.0
4530  2014    11          0.0
4542  2015    11          0.0
4554  2016    11          0.0
4566  2017    11          0.0
4578  2018    11          0.0
4590  2019    11          0.0
4602  2020    11          3.0
4614  2021    11          0.0
4626  2022    11          0.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.1451451840721265, z=-1.4568956606044055, Tau=-0.13704994192799072, s=-118.0, var_s=6449.333333333333, slope=0.0, intercept=0.0)
      Year Month  sum_1_to_31
4135  1981    12         44.0
4147  1982    12          0.0
4159  1983    12         32.0
4171  1984    12          4.0
4183  1985    12          7.0
4195  1986    12         37.0
4207  1987    12          0.0
4219  1988    12          0.0
4231  1989    12          2.0
4243  1990    12          0.0
4255  1991    12         44.0
4267  1992    12          4.0
4279  1993    12          0.0
4291  1994    12          0.0
4303  1995    12          5.0
4315  1996    12          0.0
4327  1997    12         36.0
4339  1998    12          0.0
4351  1999    12          0.0
4363  2000    12          0.0
4375  2001    12          0.0
4387  2002    12          0.0
4399  2003    12         31.0
4411  2004    12          3.0
4423  2005    12          0.0
4435  2006    12          8.0
4447  2007    12          0.0
4459  2008    12          0.0
4471  2009    12          0.0
4483  2010    12          0.0
4495  2011    12          0.0
4507  2012    12          0.0
4519  2013    12          0.0
4531  2014    12          0.0
4543  2015    12          0.0
4555  2016    12         11.0
4567  2017    12          0.0
4579  2018    12         10.0
4591  2019    12          0.0
4603  2020    12          0.0
4615  2021    12          5.0
4627  2022    12          0.0
Mann_Kendall_Test(trend='decreasing', h=True, p=0.041194791644257434, z=-2.041564077726941, Tau=-0.1916376306620209, s=-165.0, var_s=6453.0, slope=0.0, intercept=0.0)
                    1         2         3         4         5         6   \
Zmk_Dinajpur  no trend  no trend  no trend  no trend  no trend  no trend

                      7         8         9         10        11          12
Zmk_Dinajpur  decreasing  no trend  no trend  no trend  no trend  decreasing

**Making Function to call citywiSE**

In [ ]:
import numpy as np

In [ ]:
print(unique_city)

['Dhaka       ' nan
 '          Daily  total  Rainfall  data  in  Millimeter  ' 'Stati'
 'Tangail     ' 'Mymensingh  ' 'Faridpur' 'Madaripur   ' 'Srimangal   '
 'Sylhet      ' 'Bogra       ' 'Dinajpur    ' 'Ishurdi     '
 'Rajshahi    ' 'Rangpur     ' 'sydpur      ' 'chuadanga   '
 'Jessore     ' 'Khulna      ' 'Mongla      ' 'Satkhira    '
 'Barisal     ' 'Bhola       ' 'Khepupara   ' 'Patuakhali  '
 'Chandpur    ' 'Teknaf      ' 'Chittagong  ' 'Comilla     '
 "Cox'sbazar  " 'Feni        ' 'Hatiya      ' 'Kutubdia    '
 'M.court     ' 'Rangamati   ' 'Sandwip     ' 'Ambagan(Ctg)'
 'Sitakunda   ']

In [ ]:
p = 0
for city in unique_city:
    #print index and city name
    print(city,p)
    p= p+1

Dhaka        0
nan 1
          Daily  total  Rainfall  data  in  Millimeter   2
Stati 3
Tangail      4
Mymensingh   5
Faridpur 6
Madaripur    7
Srimangal    8
Sylhet       9
Bogra        10
Dinajpur     11
Ishurdi      12
Rajshahi     13
Rangpur      14
sydpur       15
chuadanga    16
Jessore      17
Khulna       18
Mongla       19
Satkhira     20
Barisal      21
Bhola        22
Khepupara    23
Patuakhali   24
Chandpur     25
Teknaf       26
Chittagong   27
Comilla      28
Cox'sbazar   29
Feni         30
Hatiya       31
Kutubdia     32
M.court      33
Rangamati    34
Sandwip      35
Ambagan(Ctg) 36
Sitakunda    37

In [ ]:
# Corrected indices for each item in the requested list:
preferred_index= [
    16,  # Chuadanga
    17,  # Jessore
    18,  # Khulna
    20,  # Satkhira
    27,  # Chittagong
    36,  # Ambagan(Ctg)
    29,  # Cox'sbazar
    30,  # Feni
    34,  # Rangamati
    37,  # Sitakunda
    26,  # Teknaf
    10,   # Bogra
    11,  # Dinajpur
    12,  # Ishurdi
    13,  # Rajshahi
    14,  # Rangpur
    15,  # Syedpur
    8,   # Srimangal
    9,   # Sylhet
    21,  # Barisal
    22,  # Bhola
    31,  # Hatiya
    23,  # Khepupara
    32,  # Kutubdia
    33,  # M.court
    19,  # Mongla
    24,  # Patuakhali
    35,  # Sandwip
    25,  # Chandpur
    28,  # Comilla
    0,   # Dhaka
    6,   # Faridpur
    7,   # Madaripur
    5,   # Mymensingh
    4    # Tangail
]

In [ ]:
#for city in unique_city:
final_results = pd.DataFrame()

for ind in preferred_index:
    city  = unique_city[ind]
    if city in ['          Daily  total  Rainfall  data  in  Millimeter  ', 'Stati', np.nan]:
        continue

    # Filter the data for the specific city
    df_city = df[df['Stati'] == city]
    df_city = df_city[['Year', 'Month', 'sum_1_to_31']]
    #print(df_city.head(20))

    # Check if the filtered dataframe has enough data points and unique values
    if len(df_city) > 2 and df_city['sum_1_to_31'].nunique() > 1:  # At least 2 data points and multiple unique values
        try:
            mk_results = calculate_mk_slope(df_city,city)
            #print(city)
            print(mk_results)
            final_results = pd.concat([final_results, mk_results])
        except ZeroDivisionError as e:
            print(f"Error calculating MK slope for {city}: {e}")
    else:
        print(f"Not enough data or unique values for {city}")




#file_path = "/content/drive/MyDrive/research/mk_18Nov_Ztrend.csv" ;
# now wanna export df_transport in csv
#final_results.reset_index(inplace=True)

#final_results.to_csv(file_path, index=False)

import os
#if os.path.exists(file_path):
#    print(f"File successfully saved at: {file_path}")
#else:
#    print("Error: File not saved.")

Streaming output truncated to the last 5000 lines.
8098  1992     5        118.0
8110  1993     5        186.0
8122  1994     5        139.0
8134  1995     5        208.0
8146  1996     5        119.0
8158  1997     5        214.0
8170  1998     5        234.0
8182  1999     5        202.0
8194  2000     5        283.0
8206  2001     5        301.0
8218  2002     5        206.0
8230  2003     5        127.0
8242  2004     5        109.0
8254  2005     5        238.0
8266  2006     5        243.0
8278  2007     5         57.0
8290  2008     5        146.0
8302  2009     5        191.0
8314  2010     5        143.0
8326  2011     5        132.0
8338  2012     5         61.0
8350  2013     5        359.0
8362  2014     5        222.0
8374  2015     5         98.0
8386  2016     5        270.0
8398  2017     5        115.0
8410  2018     5        254.0
8422  2019     5         82.0
8434  2020     5        245.0
8446  2021     5        206.0
8458  2022     5        120.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.7703366708155672, z=0.2919345443202473, Tau=0.038306451612903226, s=19.0, var_s=3801.6666666666665, slope=0.4641025641025641, intercept=181.30641025641026)
      Year Month  sum_1_to_31
8087  1991     6        426.0
8099  1992     6        174.0
8111  1993     6        424.0
8123  1994     6        403.0
8135  1995     6        307.0
8147  1996     6        455.0
8159  1997     6        237.0
8171  1998     6        246.0
8183  1999     6        262.0
8195  2000     6        309.0
8207  2001     6        547.0
8219  2002     6       1060.0
8231  2003     6        355.0
8243  2004     6        312.0
8255  2005     6        361.0
8267  2006     6        255.0
8279  2007     6        231.0
8291  2008     6        260.0
8303  2009     6        194.0
8315  2010     6        384.0
8327  2011     6        508.0
8339  2012     6        209.0
8351  2013     6        293.0
8363  2014     6        314.0
8375  2015     6        397.0
8387  2016     6        369.0
8399  2017     6        338.0
8411  2018     6        556.0
8423  2019     6        286.0
8435  2020     6        469.0
8447  2021     6        440.0
8459  2022     6        212.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.7334457521953335, z=0.34054551567572333, Tau=0.04435483870967742, s=22.0, var_s=3802.6666666666665, slope=0.7386363636363636, intercept=314.5511363636364)
      Year Month  sum_1_to_31
8088  1991     7        395.0
8100  1992     7        350.0
8112  1993     7        225.0
8124  1994     7        278.0
8136  1995     7        244.0
8148  1996     7        386.0
8160  1997     7        478.0
8172  1998     7        294.0
8184  1999     7        435.0
8196  2000     7        356.0
8208  2001     7        445.0
8220  2002     7        389.0
8232  2003     7        284.0
8244  2004     7        280.0
8256  2005     7        633.0
8268  2006     7        462.0
8280  2007     7        580.0
8292  2008     7        474.0
8304  2009     7        424.0
8316  2010     7        204.0
8328  2011     7        392.0
8340  2012     7        359.0
8352  2013     7        401.0
8364  2014     7        302.0
8376  2015     7        891.0
8388  2016     7        538.0
8400  2017     7        534.0
8412  2018     7        388.0
8424  2019     7        301.0
8436  2020     7        446.0
8448  2021     7        861.0
8460  2022     7        148.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.14002518868117475, z=1.4756972345948012, Tau=0.18548387096774194, s=92.0, var_s=3802.6666666666665, slope=4.071428571428571, intercept=327.39285714285717)
      Year Month  sum_1_to_31
8089  1991     8        298.0
8101  1992     8        243.0
8113  1993     8        379.0
8125  1994     8        380.0
8137  1995     8        268.0
8149  1996     8        357.0
8161  1997     8        355.0
8173  1998     8        443.0
8185  1999     8        442.0
8197  2000     8        209.0
8209  2001     8        136.0
8221  2002     8        441.0
8233  2003     8        229.0
8245  2004     8        336.0
8257  2005     8        264.0
8269  2006     8        318.0
8281  2007     8        262.0
8293  2008     8        217.0
8305  2009     8        478.0
8317  2010     8        265.0
8329  2011     8        639.0
8341  2012     8        449.0
8353  2013     8        287.0
8365  2014     8        221.0
8377  2015     8        270.0
8389  2016     8        544.0
8401  2017     8        355.0
8413  2018     8        254.0
8425  2019     8        389.0
8437  2020     8        401.0
8449  2021     8        337.5
8461  2022     8        261.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.7703366708155672, z=0.2919345443202473, Tau=0.038306451612903226, s=19.0, var_s=3801.6666666666665, slope=0.6, intercept=317.7)
      Year Month  sum_1_to_31
8090  1991     9        323.0
8102  1992     9        170.0
8114  1993     9        268.0
8126  1994     9        123.0
8138  1995     9        305.0
8150  1996     9        135.0
8162  1997     9        613.0
8174  1998     9        553.0
8186  1999     9        479.0
8198  2000     9        327.0
8210  2001     9        183.0
8222  2002     9        492.0
8234  2003     9        196.0
8246  2004     9        510.0
8258  2005     9        391.0
8270  2006     9        394.0
8282  2007     9        355.0
8294  2008     9        299.0
8306  2009     9        316.0
8318  2010     9        263.0
8330  2011     9        421.0
8342  2012     9        420.0
8354  2013     9        287.0
8366  2014     9        280.0
8378  2015     9        284.0
8390  2016     9         77.0
8402  2017     9        215.0
8414  2018     9        177.0
8426  2019     9        315.0
8438  2020     9        227.0
8450  2021     9        382.5
8462  2022     9        321.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.5061307168657696, z=-0.6648745782240313, Tau=-0.0846774193548387, s=-42.0, var_s=3802.6666666666665, slope=-1.6306818181818183, intercept=335.2755681818182)
      Year Month  sum_1_to_31
8091  1991    10        259.0
8103  1992    10         55.0
8115  1993    10         91.0
8127  1994    10        130.0
8139  1995    10        148.0
8151  1996    10        274.0
8163  1997    10         12.0
8175  1998    10        110.0
8187  1999    10        321.0
8199  2000    10        124.0
8211  2001    10        251.0
8223  2002    10         62.0
8235  2003    10        263.0
8247  2004    10        274.0
8259  2005    10        390.0
8271  2006    10         48.0
8283  2007    10        267.0
8295  2008    10        197.0
8307  2009    10         96.0
8319  2010    10        324.0
8331  2011    10         39.0
8343  2012    10        114.0
8355  2013    10        286.0
8367  2014    10        136.0
8379  2015    10         21.0
8391  2016    10        159.0
8403  2017    10        342.0
8415  2018    10        100.0
8427  2019    10         97.0
8439  2020    10        326.0
8451  2021    10        248.0
8463  2022    10        434.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.2177203634115592, z=1.2326125204632663, Tau=0.15524193548387097, s=77.0, var_s=3801.6666666666665, slope=2.627450980392157, intercept=112.77450980392157)
      Year Month  sum_1_to_31
8092  1991    11          4.0
8104  1992    11          2.0
8116  1993    11         36.0
8128  1994    11          3.0
8140  1995    11        229.0
8152  1996    11          1.0
8164  1997    11          0.0
8176  1998    11        207.0
8188  1999    11         12.0
8200  2000    11          5.0
8212  2001    11         53.0
8224  2002    11         89.0
8236  2003    11          0.0
8248  2004    11          3.0
8260  2005    11          1.0
8272  2006    11          6.0
8284  2007    11        101.0
8296  2008    11          0.0
8308  2009    11          6.0
8320  2010    11         94.0
8332  2011    11          0.0
8344  2012    11         34.0
8356  2013    11          0.0
8368  2014    11          0.0
8380  2015    11          4.0
8392  2016    11         55.0
8404  2017    11         17.0
8416  2018    11          0.0
8428  2019    11        265.0
8440  2020    11         12.0
8452  2021    11          2.0
8464  2022    11          0.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.5231753466967837, z=-0.638458367484442, Tau=-0.08064516129032258, s=-40.0, var_s=3731.3333333333335, slope=-0.050505050505050504, intercept=5.282828282828283)
      Year Month  sum_1_to_31
8093  1991    12          2.0
8105  1992    12          0.0
8117  1993    12          0.0
8129  1994    12          0.0
8141  1995    12          0.0
8153  1996    12          0.0
8165  1997    12         14.0
8177  1998    12          0.0
8189  1999    12          0.0
8201  2000    12          0.0
8213  2001    12          0.0
8225  2002    12          0.0
8237  2003    12         28.0
8249  2004    12          0.0
8261  2005    12          1.0
8273  2006    12          0.0
8285  2007    12          0.0
8297  2008    12          0.0
8309  2009    12          0.0
8321  2010    12         11.0
8333  2011    12          0.0
8345  2012    12          8.0
8357  2013    12          0.0
8369  2014    12          0.0
8381  2015    12          7.0
8393  2016    12          0.0
8405  2017    12         59.0
8417  2018    12          2.0
8429  2019    12         11.0
8441  2020    12          0.0
8453  2021    12         60.0
8465  2022    12          0.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.11045444921440595, z=1.5961538461538463, Tau=0.1693548387096774, s=84.0, var_s=2704.0, slope=0.0, intercept=0.0)
                        1         2         3         4         5         6   \
Zmk_Mongla        no trend  no trend  no trend  no trend  no trend  no trend

                        7         8         9         10        11        12
Zmk_Mongla        no trend  no trend  no trend  no trend  no trend  no trend
       Year Month  sum_1_to_31
10540  1981     1         36.0
10552  1982     1          0.0
10564  1983     1         63.0
10576  1984     1         11.0
10588  1985     1          3.0
10600  1986     1          3.0
10612  1987     1          1.0
10624  1988     1          0.0
10636  1989     1          0.0
10648  1990     1          0.0
10660  1991     1          3.0
10672  1992     1          2.0
10684  1993     1         24.0
10696  1994     1          3.0
10708  1995     1          5.0
10720  1996     1          3.0
10732  1997     1          1.0
10744  1998     1         22.0
10756  1999     1          0.0
10768  2000     1         26.0
10780  2001     1          0.0
10792  2002     1         11.0
10804  2003     1          0.0
10816  2004     1          0.0
10828  2005     1         22.0
10840  2006     1          0.0
10852  2007     1          1.0
10864  2008     1         34.0
10876  2009     1          0.0
10888  2010     1          0.0
10900  2011     1          0.0
10912  2012     1          7.0
10924  2013     1          1.0
10936  2014     1          0.0
10948  2015     1          9.0
10960  2016     1         12.0
10972  2017     1          0.0
10984  2018     1          0.0
10996  2019     1          0.0
11008  2020     1         35.0
11020  2021     1          0.0
11032  2022     1          6.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.2604813782043105, z=-1.125254089962613, Tau=-0.1173054587688734, s=-101.0, var_s=7897.666666666667, slope=0.0, intercept=1.5)
       Year Month  sum_1_to_31
10541  1981     2         13.0
10553  1982     2         34.0
10565  1983     2         29.0
10577  1984     2          0.0
10589  1985     2         31.0
10601  1986     2          0.0
10613  1987     2          0.0
10625  1988     2         19.0
10637  1989     2          1.0
10649  1990     2        100.0
10661  1991     2          4.0
10673  1992     2        100.0
10685  1993     2         27.0
10697  1994     2         10.0
10709  1995     2         96.0
10721  1996     2         20.0
10733  1997     2         45.0
10745  1998     2        144.0
10757  1999     2          0.0
10769  2000     2          8.0
10781  2001     2         24.0
10793  2002     2          0.0
10805  2003     2          5.0
10817  2004     2          1.0
10829  2005     2          0.0
10841  2006     2          0.0
10853  2007     2        113.0
10865  2008     2         20.0
10877  2009     2          0.0
10889  2010     2         13.0
10901  2011     2          0.0
10913  2012     2          2.0
10925  2013     2          4.0
10937  2014     2          3.0
10949  2015     2          4.0
10961  2016     2         53.0
10973  2017     2          0.0
10985  2018     2          0.0
10997  2019     2         74.0
11009  2020     2          3.0
11021  2021     2          0.0
11033  2022     2         19.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.16984097699927214, z=-1.372714958735192, Tau=-0.14634146341463414, s=-126.0, var_s=8292.0, slope=-0.18181818181818182, intercept=10.227272727272727)
       Year Month  sum_1_to_31
10542  1981     3        184.0
10554  1982     3          0.0
10566  1983     3         12.0
10578  1984     3          0.0
10590  1985     3         49.0
10602  1986     3          6.0
10614  1987     3         11.0
10626  1988     3          8.0
10638  1989     3          1.0
10650  1990     3        161.0
10662  1991     3         55.0
10674  1992     3          0.0
10686  1993     3        143.0
10698  1994     3         92.0
10710  1995     3          8.0
10722  1996     3          4.0
10734  1997     3        147.0
10746  1998     3         93.0
10758  1999     3          0.0
10770  2000     3         15.0
10782  2001     3          3.0
10794  2002     3          4.0
10806  2003     3        113.0
10818  2004     3         12.0
10830  2005     3        139.0
10842  2006     3          1.0
10854  2007     3          0.0
10866  2008     3          2.0
10878  2009     3         55.0
10890  2010     3          0.0
10902  2011     3         17.0
10914  2012     3         48.0
10926  2013     3          0.0
10938  2014     3          2.0
10950  2015     3         33.0
10962  2016     3          3.0
10974  2017     3        119.0
10986  2018     3          1.0
10998  2019     3         45.0
11010  2020     3         29.0
11022  2021     3          0.0
11034  2022     3          0.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.2614477871156611, z=-1.1229757655856683, Tau=-0.1207897793263647, s=-104.0, var_s=8412.666666666666, slope=-0.16666666666666666, intercept=12.916666666666666)
       Year Month  sum_1_to_31
10543  1981     4        304.0
10555  1982     4        179.0
10567  1983     4        308.0
10579  1984     4         82.0
10591  1985     4         19.0
10603  1986     4         57.0
10615  1987     4        312.0
10627  1988     4         37.0
10639  1989     4         91.0
10651  1990     4        133.0
10663  1991     4        279.0
10675  1992     4          8.0
10687  1993     4        155.0
10699  1994     4        267.0
10711  1995     4         41.0
10723  1996     4        256.0
10735  1997     4        209.0
10747  1998     4        124.0
10759  1999     4          8.0
10771  2000     4        151.0
10783  2001     4         61.0
10795  2002     4        102.0
10807  2003     4         59.0
10819  2004     4        179.0
10831  2005     4         55.0
10843  2006     4          7.0
10855  2007     4         35.0
10867  2008     4          9.0
10879  2009     4         73.0
10891  2010     4          9.0
10903  2011     4         34.0
10915  2012     4         81.0
10927  2013     4         27.0
10939  2014     4         27.0
10951  2015     4        179.0
10963  2016     4         42.0
10975  2017     4        249.0
10987  2018     4        141.0
10999  2019     4         65.0
11011  2020     4        114.0
11023  2021     4          1.0
11035  2022     4          5.0
Mann_Kendall_Test(trend='decreasing', h=True, p=0.011182531855456368, z=-2.5369425030229906, Tau=-0.27293844367015097, s=-235.0, var_s=8507.666666666666, slope=-2.6666666666666665, intercept=131.66666666666666)
       Year Month  sum_1_to_31
10544  1981     5        254.0
10556  1982     5         53.0
10568  1983     5        927.0
10580  1984     5        204.0
10592  1985     5        295.0
10604  1986     5        170.0
10616  1987     5        151.0
10628  1988     5        330.0
10640  1989     5        239.0
10652  1990     5        292.0
10664  1991     5        112.0
10676  1992     5        209.0
10688  1993     5        223.0
10700  1994     5        122.0
10712  1995     5        279.0
10724  1996     5        150.0
10736  1997     5        237.0
10748  1998     5        234.0
10760  1999     5        332.0
10772  2000     5        212.0
10784  2001     5        379.0
10796  2002     5        185.0
10808  2003     5        189.0
10820  2004     5        147.0
10832  2005     5        109.0
10844  2006     5        339.0
10856  2007     5        158.0
10868  2008     5         91.0
10880  2009     5        209.0
10892  2010     5        219.0
10904  2011     5        180.0
10916  2012     5         79.0
10928  2013     5        637.0
10940  2014     5        301.0
10952  2015     5         38.0
10964  2016     5        454.0
10976  2017     5         65.0
10988  2018     5        239.0
11000  2019     5        163.0
11012  2020     5        226.0
11024  2021     5         90.0
11036  2022     5        216.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.2784241102578513, z=-1.0838662397946228, Tau=-0.1173054587688734, s=-101.0, var_s=8512.333333333334, slope=-1.6, intercept=243.3)
       Year Month  sum_1_to_31
10545  1981     6        638.0
10557  1982     6        983.0
10569  1983     6       1076.0
10581  1984     6        685.0
10593  1985     6        399.0
10605  1986     6        241.0
10617  1987     6        459.0
10629  1988     6        927.0
10641  1989     6        318.0
10653  1990     6        306.0
10665  1991     6        691.0
10677  1992     6        282.0
10689  1993     6        563.0
10701  1994     6        709.0
10713  1995     6        751.0
10725  1996     6        831.0
10737  1997     6        284.0
10749  1998     6        280.0
10761  1999     6        489.0
10773  2000     6        286.0
10785  2001     6       1137.0
10797  2002     6        864.0
10809  2003     6       1036.0
10821  2004     6        277.0
10833  2005     6        268.0
10845  2006     6        538.0
10857  2007     6        432.0
10869  2008     6        257.0
10881  2009     6        203.0
10893  2010     6        567.0
10905  2011     6        713.0
10917  2012     6        287.0
10929  2013     6        392.0
10941  2014     6        488.0
10953  2015     6        648.0
10965  2016     6        388.0
10977  2017     6        377.0
10989  2018     6        408.0
11001  2019     6        262.0
11013  2020     6        502.0
11025  2021     6        716.0
11037  2022     6        234.0
Mann_Kendall_Test(trend='no trend', h=False, p=0.09512571219316368, z=-1.6689579572881383, Tau=-0.1800232288037166, s=-155.0, var_s=8514.333333333334, slope=-4.45945945945946, intercept=564.918918918919)
       Year Month  sum_1_to_31
10546  1981     7        677.0
10558  1982     7        553.0
10570  1983     7        982.0
10582  1984     7        417.0
10594  1985     7        392.0
10606  1986     7        560.0
10618  1987     7        621.0
10630  1988     7        663.0
10642  1989     7        360.0
10654  1990     7        602.0
10666  1991     7        472.0
10678  1992     7        560.0
10690  1993     7        572.0
10702  1994     7        400.0
10714  1995     7        682.0
10726  1996     7        448.0
10738  1997     7        594.0
10750  1998     7        804.0
10762  1999     7        749.0
10774  2000     7        497.0
10786  2001     7        534.0
10798  2002     7        560.0
10810  2003     7        461.0
10822  2004     7        544.0
10834  2005     7        923.0
10846  2006     7        354.0
10858  2007     7        815.0
10870  2008     7       1016.0
10882  2009     7        695.0
10894  2010     7        418.0
10906  2011     7        356.0
10918  2012     7        392.0

**In this section  i will output statistical data **

edit from 3 March 2025

In [45]:
import pandas as pd
df_initial = pd.read_excel('/content/drive/MyDrive/research/Rainfall_1981-2022.xlsx', header=0,na_values=[''])

In [46]:
df = df_initial
df.replace(to_replace=['Trace', 'Xx','***'], value=0, inplace=True)
df.head()

,Stati,Year,Month,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,Dhaka,1981,1,5,NaN,4,5,5,0,0,...,0,0,0,0,0,0,0,0,0,6
1,Dhaka,1981,2,9,2,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,Dhaka,1981,3,0,0,0,0,0,0,0,...,10,0,10,0,13,0,8,0,2,0
3,Dhaka,1981,4,41,2,0,0,4,0,0,...,0,2,0,0,0,0,0,0,3,NaN
4,Dhaka,1981,5,0,0,0,0,20,8,0,...,20,0,0,13,1,1,1,43,45,0

In [47]:
# Convert each column from 1 to 31 to numeric, forcing errors to NaN
for col in range(1, 32):  # loop through column names 1 to 31
    df[col] = pd.to_numeric(df[col], errors='coerce')  # convert to numeric and coerce errors

# Check the dtypes to ensure conversion
#print(df.loc[:, 1:31].dtypes)  # This will show the data types of the columns from 1 to 31

# Now apply interpolation to fill NaN values
df.loc[:, 1:31] = df.loc[:, 1:31].interpolate(method='linear', axis=1)

# Sum the columns from 1 to 31 row-wise, ignoring NaN values
df['sum_1_to_31'] = df.loc[:, 1:31].sum(axis=1)

# Check the resulting dataframe
df = df[['Stati','Year', 'Month', 'sum_1_to_31']]

df.head()

          Stati  Year Month  sum_1_to_31
0  Dhaka         1981     1         33.5
1  Dhaka         1981     2         42.0
2  Dhaka         1981     3        109.0
3  Dhaka         1981     4        277.0
4  Dhaka         1981     5        272.0

In [48]:
unique_city = df['Stati'].unique()
print(unique_city)

['Dhaka       ' nan
 '          Daily  total  Rainfall  data  in  Millimeter  ' 'Stati'
 'Tangail     ' 'Mymensingh  ' 'Faridpur' 'Madaripur   ' 'Srimangal   '
 'Sylhet      ' 'Bogra       ' 'Dinajpur    ' 'Ishurdi     '
 'Rajshahi    ' 'Rangpur     ' 'sydpur      ' 'chuadanga   '
 'Jessore     ' 'Khulna      ' 'Mongla      ' 'Satkhira    '
 'Barisal     ' 'Bhola       ' 'Khepupara   ' 'Patuakhali  '
 'Chandpur    ' 'Teknaf      ' 'Chittagong  ' 'Comilla     '
 "Cox'sbazar  " 'Feni        ' 'Hatiya      ' 'Kutubdia    '
 'M.court     ' 'Rangamati   ' 'Sandwip     ' 'Ambagan(Ctg)'
 'Sitakunda   ']

In [49]:
# Corrected indices for each item in the requested list:
preferred_index= [
    16,  # Chuadanga
    17,  # Jessore
    18,  # Khulna
    20,  # Satkhira
    27,  # Chittagong
    36,  # Ambagan(Ctg)
    29,  # Cox'sbazar
    30,  # Feni
    34,  # Rangamati
    37,  # Sitakunda
    26,  # Teknaf
    10,   # Bogra
    11,  # Dinajpur
    12,  # Ishurdi
    13,  # Rajshahi
    14,  # Rangpur
    15,  # Syedpur
    8,   # Srimangal
    9,   # Sylhet
    21,  # Barisal
    22,  # Bhola
    31,  # Hatiya
    23,  # Khepupara
    32,  # Kutubdia
    33,  # M.court
    19,  # Mongla
    24,  # Patuakhali
    35,  # Sandwip
    25,  # Chandpur
    28,  # Comilla
    0,   # Dhaka
    6,   # Faridpur
    7,   # Madaripur
    5,   # Mymensingh
    4    # Tangail
]

In [50]:
for ind in preferred_index:
    city  = unique_city[ind]
    print(city)

chuadanga
Jessore
Khulna
Satkhira
Chittagong
Ambagan(Ctg)
Cox'sbazar
Feni
Rangamati
Sitakunda
Teknaf
Bogra
Dinajpur
Ishurdi
Rajshahi
Rangpur
sydpur
Srimangal
Sylhet
Barisal
Bhola
Hatiya
Khepupara
Kutubdia
M.court
Mongla
Patuakhali
Sandwip
Chandpur
Comilla
Dhaka
Faridpur
Madaripur
Mymensingh
Tangail

First monthly  avarage and everything of each station

In [ ]:
"""
for ind in preferred_index:
    city  = unique_city[ind]
    print(city)
    df_city = df[df['Stati'] == city]

    #now monthly statistics
    for i in range(1,13):
      df_month = df_city[df_city['Month'] == i]
      #statistics of the month
      print("month:",i)
      print(df_month['sum_1_to_31'].describe())
      print(df_month['sum_1_to_31'].mean())
      print(df_month['sum_1_to_31'].std())
      print(df_month['sum_1_to_31'].var())
    break
"""

In [37]:
import pandas as pd
from tabulate import tabulate

In [38]:
print(df)

              Stati  Year Month  sum_1_to_31
0      Dhaka         1981     1         33.5
1      Dhaka         1981     2         42.0
2      Dhaka         1981     3        109.0
3      Dhaka         1981     4        277.0
4      Dhaka         1981     5        272.0
...             ...   ...   ...          ...
17336  Sitakunda     2022     8        123.0
17337  Sitakunda     2022     9        506.0
17338  Sitakunda     2022    10        143.0
17339  Sitakunda     2022    11          0.0
17340  Sitakunda     2022    12         50.0

[17341 rows x 4 columns]

In [39]:
print(unique_city)

['Dhaka       ' nan
 '          Daily  total  Rainfall  data  in  Millimeter  ' 'Stati'
 'Tangail     ' 'Mymensingh  ' 'Faridpur' 'Madaripur   ' 'Srimangal   '
 'Sylhet      ' 'Bogra       ' 'Dinajpur    ' 'Ishurdi     '
 'Rajshahi    ' 'Rangpur     ' 'sydpur      ' 'chuadanga   '
 'Jessore     ' 'Khulna      ' 'Mongla      ' 'Satkhira    '
 'Barisal     ' 'Bhola       ' 'Khepupara   ' 'Patuakhali  '
 'Chandpur    ' 'Teknaf      ' 'Chittagong  ' 'Comilla     '
 "Cox'sbazar  " 'Feni        ' 'Hatiya      ' 'Kutubdia    '
 'M.court     ' 'Rangamati   ' 'Sandwip     ' 'Ambagan(Ctg)'
 'Sitakunda   ']

In [ ]:

# Create an empty list to store statistics
table_data = []

for ind in preferred_index:
    city = unique_city[ind]
    df_city = df[df['Stati'] == city]

    for i in range(1, 13):  # Loop through months

        df_month = df_city[df_city['Month'] == i]
        print(df_month)

        if not df_month.empty:  # Only process if data exists for the month
            stats = df_month['sum_1_to_31'].describe()
            mean_val = df_month['sum_1_to_31'].mean()
            std_val = df_month['sum_1_to_31'].std()
            var_val = df_month['sum_1_to_31'].var()

            table_data.append([city, i, stats['count'], stats['mean'], stats['std'], stats['min'], stats['25%'], stats['50%'], stats['75%'], stats['max'], mean_val, std_val, var_val])
        else:
            print(f"No data found for {city} in month {i}")
# Convert to DataFrame for better visualization
stats_df = pd.DataFrame(table_data, columns=['City', 'Month', 'Count', 'Mean', 'Std Dev', 'Min', '25%', 'Median', '75%', 'Max', 'Mean_2', 'Std_2', 'Var'])

# Print table in a structured format
print(tabulate(stats_df, headers='keys', tablefmt='pretty'))

In [62]:
#monthly statistics
file_path = "/content/drive/MyDrive/research/monthly_satistics_4march_2025.csv" ;

#final_results.reset_index(inplace=True)
#stats_df.to_excel("rainfall_statistics.xlsx", index=False)
#stats_df.to_csv(file_path, index=False)
#final_results.to_csv(file_path, index=False)

import os
if os.path.exists(file_path):
    print(f"File successfully saved at: {file_path}")
else:
    print("Error: File not saved.")

File successfully saved at: /content/drive/MyDrive/research/monthly_satistics_4march_2025.csv

**now i want yearly property **

In [51]:
print(df)

              Stati  Year Month  sum_1_to_31
0      Dhaka         1981     1         33.5
1      Dhaka         1981     2         42.0
2      Dhaka         1981     3        109.0
3      Dhaka         1981     4        277.0
4      Dhaka         1981     5        272.0
...             ...   ...   ...          ...
17336  Sitakunda     2022     8        123.0
17337  Sitakunda     2022     9        506.0
17338  Sitakunda     2022    10        143.0
17339  Sitakunda     2022    11          0.0
17340  Sitakunda     2022    12         50.0

[17341 rows x 4 columns]

In [59]:
# prompt: now i want to sum all the month of the year, that mean i want yearly rainfall, only show the yearly rainfall df

# Yearly rainfall
yearly_rainfall = df.groupby(['Stati', 'Year'])['sum_1_to_31'].sum().reset_index()
yearly_rainfall = yearly_rainfall.rename(columns={'sum_1_to_31': 'Yearly_Rainfall'})
yearly_rainfall

             Stati  Year  Yearly_Rainfall
0     Ambagan(Ctg)  1999           3337.0
1     Ambagan(Ctg)  2000           3254.0
2     Ambagan(Ctg)  2001           2304.0
3     Ambagan(Ctg)  2002           2867.0
4     Ambagan(Ctg)  2003           2799.0
...            ...   ...              ...
1399  sydpur        2018           1523.0
1400  sydpur        2019           2196.0
1401  sydpur        2020           2672.0
1402  sydpur        2021           2054.5
1403  sydpur        2022           1607.0

[1404 rows x 3 columns]

In [61]:

# Create an empty list to store statistics
table_data_yearly = []

for ind in preferred_index:
    city = unique_city[ind]
    df_city_yearly = yearly_rainfall[yearly_rainfall['Stati'] == city]

    if not df_city_yearly.empty:  # Only process if data exists for the month
        stats = df_city_yearly['Yearly_Rainfall'].describe()
        mean_val = df_city_yearly['Yearly_Rainfall'].mean()
        std_val = df_city_yearly['Yearly_Rainfall'].std()
        var_val = df_city_yearly['Yearly_Rainfall'].var()

        table_data_yearly.append([city, stats['count'], stats['mean'], stats['std'], stats['min'], stats['25%'], stats['50%'], stats['75%'], stats['max'], mean_val, std_val, var_val])
    else:
        print(f"No data found for {city} ")

# Convert to DataFrame for better visualization
stats_df_yearly = pd.DataFrame(table_data_yearly, columns=['City', 'Count', 'Mean', 'Std Dev', 'Min', '25%', 'Median', '75%', 'Max', 'Mean_2', 'Std_2', 'Var'])

# Print table in a structured format
print(tabulate(stats_df_yearly, headers='keys', tablefmt='pretty'))

+----+--------------+-------+--------------------+--------------------+--------+---------+--------+----------+--------+--------------------+--------------------+--------------------+
|    |     City     | Count |        Mean        |      Std Dev       |  Min   |   25%   | Median |   75%    |  Max   |       Mean_2       |       Std_2        |        Var         |
+----+--------------+-------+--------------------+--------------------+--------+---------+--------+----------+--------+--------------------+--------------------+--------------------+
| 0  |  chuadanga   | 34.0  | 1485.6764705882354 | 272.2058847123153  | 852.0  | 1334.5  | 1475.5 | 1715.25  | 2023.0 | 1485.6764705882354 | 272.2058847123153  | 74096.04367201429  |
| 1  |   Jessore    | 42.0  | 1700.6666666666667 | 346.0660212400382  | 923.0  | 1396.0  | 1755.0 | 1954.75  | 2512.0 | 1700.6666666666667 | 346.0660212400382  | 119761.69105691058 |
| 2  |    Khulna    | 42.0  |       1840.5       | 370.4234393099928  | 1086.0 | 1585.5  | 1937.5 | 2105.25  | 2628.0 |       1840.5       | 370.4234393099928  | 137213.5243902439  |
| 3  |   Satkhira   | 42.0  | 1751.095238095238  | 274.51063416460596 | 1216.0 | 1534.0  | 1773.0 |  1992.5  | 2274.0 | 1751.095238095238  | 274.51063416460596 | 75356.08826945414  |
| 4  |  Chittagong  | 38.0  | 2999.7631578947367 |  528.769833655772  | 1939.0 | 2620.0  | 3025.5 |  3347.0  | 4108.0 | 2999.7631578947367 |  528.769833655772  | 279597.53698435274 |
| 5  | Ambagan(Ctg) | 24.0  | 2974.5416666666665 | 576.9550490490471  | 2260.0 | 2451.75 | 2900.0 |  3296.0  | 4394.0 | 2974.5416666666665 | 576.9550490490471  | 332877.1286231884  |
| 6  |  Cox'sbazar  | 42.0  | 3731.714285714286  | 595.3307048050046  | 2084.0 | 3354.25 | 3688.5 |  4168.0  | 4716.0 | 3731.714285714286  | 595.3307048050046  | 354418.6480836236  |
| 7  |     Feni     | 42.0  | 3014.785714285714  | 606.9574877914126  | 1767.0 | 2672.25 | 2994.5 | 3333.75  | 4555.0 | 3014.785714285714  | 606.9574877914126  | 368397.3919860628  |
| 8  |  Rangamati   | 42.0  | 2578.5238095238096 | 576.6101628544928  | 1477.0 | 2082.75 | 2588.5 |  2988.5  | 3887.0 | 2578.5238095238096 | 576.6101628544928  | 332479.2799070847  |
| 9  |  Sitakunda   | 42.0  | 3304.0238095238096 |  690.886227903759  | 2037.0 | 2839.0  | 3237.5 | 3762.75  | 4895.0 | 3304.0238095238096 |  690.886227903759  | 477323.7799070848  |
| 10 |    Teknaf    | 42.0  | 4244.261904761905  | 601.7956487908504  | 2662.0 | 3938.25 | 4237.5 | 4553.25  | 5510.0 | 4244.261904761905  | 601.7956487908504  | 362158.00290360046 |
| 11 |    Bogra     | 42.0  | 1762.7619047619048 | 389.5547057311193  | 1081.0 | 1428.75 | 1747.5 | 2105.25  | 2601.0 | 1762.7619047619048 | 389.5547057311193  | 151752.86875725896 |
| 12 |   Dinajpur   | 42.0  | 1994.7619047619048 | 472.7104930300084  | 934.0  | 1675.75 | 2025.0 | 2196.75  | 3182.0 | 1994.7619047619048 | 472.7104930300084  | 223455.21022067365 |
| 13 |   Ishurdi    | 42.0  | 1512.857142857143  | 300.0969413639997  | 900.0  | 1320.0  | 1559.5 |  1718.5  | 2295.0 | 1512.857142857143  | 300.0969413639997  | 90058.17421602787  |
| 14 |   Rajshahi   | 42.0  | 1435.3809523809523 | 301.41228165218837 | 802.0  | 1278.0  | 1434.5 |  1591.0  | 2333.0 | 1435.3809523809523 | 301.41228165218837 | 90849.36353077814  |
| 15 |   Rangpur    | 42.0  | 2256.285714285714  | 555.5634488018442  | 763.0  | 1927.0  | 2227.5 | 2526.75  | 3749.0 | 2256.285714285714  | 555.5634488018442  | 308650.7456445993  |
| 16 |    sydpur    | 32.0  |    2100.078125     | 496.75794243979243 | 1305.0 | 1773.5  | 2015.5 | 2383.75  | 3156.0 |    2100.078125     | 496.75794243979243 | 246768.45337701612 |
| 17 |  Srimangal   | 41.0  | 2395.0243902439024 | 533.9950134507287  | 893.0  | 2046.0  | 2320.0 |  2754.0  | 3843.0 | 2395.0243902439024 | 533.9950134507287  | 285150.67439024395 |
| 18 |    Sylhet    | 42.0  | 4190.547619047619  | 686.6862883826423  | 3120.0 | 3576.5  | 4217.0 |  4614.0  | 6045.0 | 4190.547619047619  | 686.6862883826423  | 471538.0586527293  |
| 19 |   Barisal    | 42.0  | 2105.3333333333335 | 369.86039994456615 | 1454.0 | 1814.75 | 2090.0 | 2406.25  | 2867.0 | 2105.3333333333335 | 369.86039994456615 | 136796.71544715445 |
| 20 |    Bhola     | 42.0  | 2242.3571428571427 | 412.6371358995031  | 1508.0 | 1950.75 | 2232.0 | 2547.25  | 3193.0 | 2242.3571428571427 | 412.6371358995031  | 170269.40592334498 |
| 21 |    Hatiya    | 37.0  | 3185.2027027027025 | 793.6518570949546  | 503.0  | 2797.0  | 3248.0 |  3673.0  | 4444.0 | 3185.2027027027025 | 793.6518570949546  | 629883.2702702703  |
| 22 |  Khepupara   | 42.0  | 2822.095238095238  | 434.34951698327063 | 1879.0 | 2451.0  | 2810.0 | 3152.25  | 3545.0 | 2822.095238095238  | 434.34951698327063 | 188659.50290360049 |
| 23 |   Kutubdia   | 38.0  | 3174.6710526315787 | 641.3738661392664  | 1709.0 | 2819.25 | 3058.0 | 3457.375 | 4713.0 | 3174.6710526315787 | 641.3738661392664  | 411360.43616642966 |
| 24 |   M.court    | 42.0  | 3127.9285714285716 | 547.9382372555232  | 1941.0 | 2841.5  | 3109.0 | 3431.75  | 4799.0 | 3127.9285714285716 | 547.9382372555232  | 300236.31184668996 |
| 25 |    Mongla    | 32.0  |     1971.4375      | 332.5936140348672  | 1232.0 | 1746.0  | 1937.0 | 2161.75  | 2864.0 |     1971.4375      | 332.5936140348672  | 110618.5120967742  |
| 26 |  Patuakhali  | 42.0  | 2637.9285714285716 | 494.2640941576872  | 1767.0 | 2312.25 | 2681.5 | 2869.25  | 4443.0 | 2637.9285714285716 | 494.2640941576872  | 244296.9947735191  |
| 27 |   Sandwip    | 41.0  | 3647.987804878049  | 755.2149568815232  | 2255.0 | 3178.0  | 3589.0 |  4118.0  | 6159.0 | 3647.987804878049  | 755.2149568815232  |  570349.631097561  |
| 28 |   Chandpur   | 42.0  | 2205.0238095238096 | 547.0088280419844  | 1332.0 | 1845.75 | 2118.0 | 2391.25  | 3796.0 | 2205.0238095238096 | 547.0088280419844  | 299218.65795586526 |
| 29 |   Comilla    | 42.0  | 2096.690476190476  | 415.66329526316855 | 1244.0 | 1886.0  | 2084.5 | 2292.25  | 3193.0 | 2096.690476190476  | 415.66329526316855 | 172775.97502903602 |
| 30 |    Dhaka     | 42.0  | 2053.3214285714284 | 481.07967776542483 | 1169.0 | 1760.5  | 1943.0 |  2359.5  | 3030.0 | 2053.3214285714284 | 481.07967776542483 |  231437.656358885  |
| 31 |   Faridpur   | 42.0  | 1859.1190476190477 | 466.93166588265234 | 1281.0 | 1516.25 | 1775.5 | 2100.75  | 3746.0 | 1859.1190476190477 | 466.93166588265234 | 218025.1806039489  |
| 32 |  Madaripur   | 42.0  | 1985.845238095238  |  406.77243125663   | 1364.0 | 1638.75 | 1962.5 | 2224.75  | 3070.0 | 1985.845238095238  |  406.77243125663   | 165463.81083042978 |
| 33 |  Mymensingh  | 42.0  | 2270.6309523809523 | 480.0600198695155  | 1488.0 | 1952.5  | 2211.0 |  2513.5  | 3316.0 | 2270.6309523809523 | 480.0600198695155  | 230457.62267711962 |
| 34 |   Tangail    | 36.0  | 1825.5555555555557 | 359.61522647283874 | 1132.0 | 1583.75 | 1821.5 |  2011.5  | 2760.0 | 1825.5555555555557 | 359.61522647283874 | 129323.11111111111 |
+----+--------------+-------+--------------------+--------------------+--------+---------+--------+----------+--------+--------------------+--------------------+--------------------+

In [63]:
#monthly statistics
file_path = "/content/drive/MyDrive/research/yearly_satistics_4march_2025.csv" ;

#final_results.reset_index(inplace=True)
#stats_df.to_excel("rainfall_statistics.xlsx", index=False)
stats_df_yearly.to_csv(file_path, index=False)
#final_results.to_csv(file_path, index=False)

import os
if os.path.exists(file_path):
    print(f"File successfully saved at: {file_path}")
else:
    print("Error: File not saved.")

File successfully saved at: /content/drive/MyDrive/research/yearly_satistics_4march_2025.csv