<a href="https://colab.research.google.com/github/trewto/Enviroment_Study/blob/main/ipta_slope_analysis_method_lastedit_11_nov2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/research/Rainfall_1981-2022.xlsx', header=0)

In [52]:
# prompt: get all row from df_city  Where Month =1 , and devide it two part the first half and last half

def convert_to_first_and_last_half(df_city):
  dataset = []
  # Filter rows where Month is 1
  for i in range(1,13):
    df_month = df_city[df_city['Month'] == i]

    # Calculate the midpoint of the filtered DataFrame
    midpoint = len(df_month) // 2

    # Split the DataFrame into two parts
    first_half = df_month.iloc[:midpoint]
    last_half = df_month.iloc[midpoint:]

    #print("First Half:")
    #print(first_half)
    sum_first_half = first_half['sum_1_to_31'].sum()

    sum_first_half = first_half['sum_1_to_31'].mean()

    std_first_half = first_half['sum_1_to_31'].std()
    #print(f"The sum of 'sum_1_to_31' for the first half is: {sum_first_half}")

    #print("\nLast Half:")
    #print(last_half)
    sum_last_half = last_half['sum_1_to_31'].sum()
    sum_last_half = last_half['sum_1_to_31'].mean()
    std_last_half = last_half['sum_1_to_31'].std()
    #print(f"The sum of 'sum_1_to_31' for the last half is: {sum_last_half}")
    dataset.append([i, sum_first_half, sum_last_half,std_first_half,std_last_half])

  df_dataset = pd.DataFrame(dataset, columns=['Month', 'Sum_First_Half', 'Sum_Last_Half','std_First_Half','std_Last_Half'])
  #print(df_dataset)
  return df_dataset

In [53]:
import matplotlib.pyplot as plt

# Function to calculate slope between two points
def calculate_slope(x1, y1, x2, y2):
    if x2 - x1 != 0:
        return (y2 - y1) / (x2 - x1)
    else:
        return 0

def calculate_length(x1, y1, x2, y2):
    return ((x2 - x1)**2 + (y2 - y1)**2)**0.5



# Function to calculate slopes and plot IPTA
def plot_ipta(Month,data_first, data_last):
    #data_first_1 will be in first collam Name Sum_First_Half and data_last one will be in second collam and merged
    df = pd.concat([Month,data_first, data_last], axis=1)
    df.columns = ['Month','Sum_First_Half', 'Sum_Last_Half']

    # Calculate slopes and lengths
    slopes = []
    lengths= []
    trends = []


    for i in range(len(df)):



        if i ==  len(df) -1 :
          x1, y1 = df['Sum_First_Half'].iloc[i], df['Sum_Last_Half'].iloc[i]
          x2, y2 = df['Sum_First_Half'].iloc[0], df['Sum_Last_Half'].iloc[0]
          slope = calculate_slope(x1, y1, x2, y2)
          length  = calculate_length(x1, y1, x2, y2)

          slopes.append(slope)
          lengths.append(length)





        else:
          x1, y1 = df['Sum_First_Half'].iloc[i], df['Sum_Last_Half'].iloc[i]
          x2, y2 = df['Sum_First_Half'].iloc[i + 1], df['Sum_Last_Half'].iloc[i + 1]
          slope = calculate_slope(x1, y1, x2, y2)
          length  = calculate_length(x1, y1, x2, y2)
          slopes.append(slope)
          lengths.append(length)

        if slope< 1:
          trends.append(1)
        elif slope ==0:
          trends.append(0)
        else:
          trends.append(-1)

    df['Trend'] = trends

    # Add None for the first slope (no previous point)
    #slopes = [None] + slopes
    slopes = slopes

    # Add slopes to the DataFrame
    df['Slopes'] = slopes
    df['Length'] = lengths



    df_dataset = pd.DataFrame(df, columns=['Month', 'Trend'])

    # Transpose the DataFrame
    df_transposed = df_dataset.set_index('Month').transpose()

    #df_transposed.head()
    #print(df_transposed)
    return df_dataset


"""
    # Plot IPTA
    plt.figure(figsize=(10, 6))
    plt.plot(df['Sum_First_Half'], df['Sum_Last_Half'], marker='o', linestyle='--', color='b', label='Rainfall Data')

    # Plot month names beside each point
    for i in range(len(df)):
        plt.text(df['Sum_First_Half'].iloc[i], df['Sum_Last_Half'].iloc[i],
                 f"{df['Month'].iloc[i]}", fontsize=9, ha='right')

    # Plot slopes
    #for i in range(len(df) - 1):
    #    plt.text((df['Sum_First_Half'].iloc[i] + df['Sum_First_Half'].iloc[i + 1]) / 2,
    #              (df['Sum_Last_Half'].iloc[i] + df['Sum_Last_Half'].iloc[i + 1]) / 2,
     #             f"Slope: {round(slopes[i + 1], 2)}", fontsize=9, color='green')

    # Plot 45-degree reference line

    plt.plot([df['Sum_First_Half'].min(), df['Sum_First_Half'].max()],
             [df['Sum_First_Half'].min(), df['Sum_First_Half'].max()],
             'r--', label='45-degree line')

    plt.title('IPTA Polygon Plot')
    plt.xlabel('First Half  ')
    plt.ylabel('Last Half  ')
    plt.legend()
    plt.grid(True)
    plt.show()
    """

'\n    # Plot IPTA\n    plt.figure(figsize=(10, 6))\n    plt.plot(df[\'Sum_First_Half\'], df[\'Sum_Last_Half\'], marker=\'o\', linestyle=\'--\', color=\'b\', label=\'Rainfall Data\')\n\n    # Plot month names beside each point\n    for i in range(len(df)):\n        plt.text(df[\'Sum_First_Half\'].iloc[i], df[\'Sum_Last_Half\'].iloc[i],\n                 f"{df[\'Month\'].iloc[i]}", fontsize=9, ha=\'right\')\n\n    # Plot slopes\n    #for i in range(len(df) - 1):\n    #    plt.text((df[\'Sum_First_Half\'].iloc[i] + df[\'Sum_First_Half\'].iloc[i + 1]) / 2,\n    #              (df[\'Sum_Last_Half\'].iloc[i] + df[\'Sum_Last_Half\'].iloc[i + 1]) / 2,\n     #             f"Slope: {round(slopes[i + 1], 2)}", fontsize=9, color=\'green\')\n\n    # Plot 45-degree reference line\n\n    plt.plot([df[\'Sum_First_Half\'].min(), df[\'Sum_First_Half\'].max()],\n             [df[\'Sum_First_Half\'].min(), df[\'Sum_First_Half\'].max()],\n             \'r--\', label=\'45-degree line\')\n\n    plt.title(\'IPTA Polygon Plot\')\n    plt.xlabel(\'First Half  \')\n    plt.ylabel(\'Last Half  \')\n    plt.legend()\n    plt.grid(True)\n    plt.show()\n    '

**Making Function CTWISE**

In [25]:
import numpy as np

In [26]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/research/Rainfall_1981-2022.xlsx', header=0,na_values=[''])

In [7]:
df.head()

,Stati,Year,Month,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,Dhaka,1981,1,5,NaN,4,5,5,0,0,...,0,0,0,0,0,0,0,0,0,6
1,Dhaka,1981,2,9,2,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,Dhaka,1981,3,0,0,0,0,0,0,0,...,10,0,10,0,13,0,8,0,2,0
3,Dhaka,1981,4,41,2,0,0,4,0,0,...,0,2,0,0,0,0,0,0,3,NaN
4,Dhaka,1981,5,0,0,0,0,20,8,0,...,20,0,0,13,1,1,1,43,45,0

In [ ]:
# Count occurrences of "Trace" or "Xx" in the DataFrame
#trace_count = df[df.applymap(lambda x: isinstance(x, str) and x.lower() == 'trace').any(axis=1)].shape[0]
#xx_count = df[df.applymap(lambda x: isinstance(x, str) and x.lower() == 'xx').any(axis=1)].shape[0]
#xx_count = df[df.applymap(lambda x: isinstance(x, str) and x.lower() == '***').any(axis=1)].shape[0]
#print(f"Number of rows with 'Trace': {trace_count}")
#print(f"Number of rows with 'Xx': {xx_count}")

In [27]:
df.replace(to_replace=['Trace', 'Xx','***'], value=0, inplace=True)

In [28]:
#df.loc[:, 1:31] = df.loc[:, 1:31].apply(pd.to_numeric, errors='coerce')
for col in range(1, 32):  # loop through column names 1 to 31
    df[col] = pd.to_numeric(df[col], errors='coerce')  # convert to numeric and coerce errors

###new
df.loc[:, 1:31] = df.loc[:, 1:31].interpolate(method='linear', axis=1)

df['sum_1_to_31'] = df.loc[:, 1:31].sum(axis=1)
df.head()

,Stati,Year,Month,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,sum_1_to_31
0,Dhaka,1981,1,5.0,4.5,4.0,5.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,33.5
1,Dhaka,1981,2,9.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0
2,Dhaka,1981,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.0,0.0,13.0,0.0,8.0,0.0,2.0,0.0,109.0
3,Dhaka,1981,4,41.0,2.0,0.0,0.0,4.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,277.0
4,Dhaka,1981,5,0.0,0.0,0.0,0.0,20.0,8.0,0.0,...,0.0,0.0,13.0,1.0,1.0,1.0,43.0,45.0,0.0,272.0

In [29]:
df = df[['Stati','Year', 'Month', 'sum_1_to_31']]

df.head()

          Stati  Year Month  sum_1_to_31
0  Dhaka         1981     1         33.5
1  Dhaka         1981     2         42.0
2  Dhaka         1981     3        109.0
3  Dhaka         1981     4        277.0
4  Dhaka         1981     5        272.0

In [30]:
unique_city = (df['Stati'].unique())
print(unique_city)

['Dhaka       ' nan
 '          Daily  total  Rainfall  data  in  Millimeter  ' 'Stati'
 'Tangail     ' 'Mymensingh  ' 'Faridpur' 'Madaripur   ' 'Srimangal   '
 'Sylhet      ' 'Bogra       ' 'Dinajpur    ' 'Ishurdi     '
 'Rajshahi    ' 'Rangpur     ' 'sydpur      ' 'chuadanga   '
 'Jessore     ' 'Khulna      ' 'Mongla      ' 'Satkhira    '
 'Barisal     ' 'Bhola       ' 'Khepupara   ' 'Patuakhali  '
 'Chandpur    ' 'Teknaf      ' 'Chittagong  ' 'Comilla     '
 "Cox'sbazar  " 'Feni        ' 'Hatiya      ' 'Kutubdia    '
 'M.court     ' 'Rangamati   ' 'Sandwip     ' 'Ambagan(Ctg)'
 'Sitakunda   ']

In [67]:
p = 0
for city in unique_city:
    #print index and city name
    print(city,p)
    p= p+1

Dhaka        0
nan 1
          Daily  total  Rainfall  data  in  Millimeter   2
Stati 3
Tangail      4
Mymensingh   5
Faridpur 6
Madaripur    7
Srimangal    8
Sylhet       9
Bogra        10
Dinajpur     11
Ishurdi      12
Rajshahi     13
Rangpur      14
sydpur       15
chuadanga    16
Jessore      17
Khulna       18
Mongla       19
Satkhira     20
Barisal      21
Bhola        22
Khepupara    23
Patuakhali   24
Chandpur     25
Teknaf       26
Chittagong   27
Comilla      28
Cox'sbazar   29
Feni         30
Hatiya       31
Kutubdia     32
M.court      33
Rangamati    34
Sandwip      35
Ambagan(Ctg) 36
Sitakunda    37

In [68]:
# Corrected indices for each item in the requested list:
preferred_index= [
    16,  # Chuadanga
    17,  # Jessore
    18,  # Khulna
    20,  # Satkhira
    27,  # Chittagong
    36,  # Ambagan(Ctg)
    29,  # Cox'sbazar
    30,  # Feni
    34,  # Rangamati
    37,  # Sitakunda
    26,  # Teknaf
    10,   # Bogra
    11,  # Dinajpur
    12,  # Ishurdi
    13,  # Rajshahi
    14,  # Rangpur
    15,  # Syedpur
    8,   # Srimangal
    9,   # Sylhet
    21,  # Barisal
    22,  # Bhola
    31,  # Hatiya
    23,  # Khepupara
    32,  # Kutubdia
    33,  # M.court
    19,  # Mongla
    24,  # Patuakhali
    35,  # Sandwip
    25,  # Chandpur
    28,  # Comilla
    0,   # Dhaka
    6,   # Faridpur
    7,   # Madaripur
    5,   # Mymensingh
    4    # Tangail
]

In [72]:
i = 0
final_results = pd.DataFrame()

#for city in unique_city:
for ind in preferred_index:

    city  = unique_city[ind]
    if city in ['          Daily  total  Rainfall  data  in  Millimeter  ', 'Stati', np.nan]:
        continue
    print (i,city)

    df_city = df[df['Stati'] == city]
    df_city = df_city[['Year', 'Month', 'sum_1_to_31']]



    df_dataset = convert_to_first_and_last_half(df_city)

    n_df_dataset = plot_ipta(df_dataset['Month'],df_dataset['Sum_First_Half'],df_dataset['Sum_Last_Half'])
    df_trends = n_df_dataset[['Month', 'Trend']]
    df_trends.set_index('Month', inplace=True)
    df_trends.columns = [city]  # Set city name as column name

    # Append to the final results DataFrame
    if final_results.empty:
        final_results = df_trends
    else:
        final_results = pd.concat([final_results, df_trends], axis=1)



    #print( "Plot Rainfall std")
    #plot_ipta(df_dataset['Month'],df_dataset['std_First_Half'],df_dataset['std_Last_Half'])

    print("========================")
    i= i+1
#print(final_results)
# Transpose the DataFrame
df_transposed = final_results.transpose()

#df_transposed.head()
print(df_transposed)

file_path = "/content/drive/MyDrive/research/IPTA_11Nov.csv" ;
# now wanna export df_transport in csv
df_transposed.reset_index(inplace=True)
df_transposed.to_csv(file_path, index=False)

import os
if os.path.exists(file_path):
    print(f"File successfully saved at: {file_path}")
else:
    print("Error: File not saved.")

0 chuadanga
========================
1 Jessore
========================
2 Khulna
========================
3 Satkhira
========================
4 Chittagong
========================
5 Ambagan(Ctg)
========================
6 Cox'sbazar
========================
7 Feni
========================
8 Rangamati
========================
9 Sitakunda
========================
10 Teknaf
========================
11 Bogra
========================
12 Dinajpur
========================
13 Ishurdi
========================
14 Rajshahi
========================
15 Rangpur
========================
16 sydpur
========================
17 Srimangal
========================
18 Sylhet
========================
19 Barisal
========================
20 Bhola
========================
21 Hatiya
========================
22 Khepupara
========================
23 Kutubdia
========================
24 M.court
========================
25 Mongla
========================
26 Patuakhali
========================
27 Sandwip
========================
28 Chandpur
========================
29 Comilla
========================
30 Dhaka
========================
31 Faridpur
========================
32 Madaripur
========================
33 Mymensingh
========================
34 Tangail
========================
Month         1   2   3   4   5   6   7   8   9   10  11  12
chuadanga     -1   1  -1  -1   1  -1   1   1   1   1   1   1
Jessore       -1   1  -1  -1   1   1  -1   1   1  -1   1   1
Khulna         1   1   1  -1   1   1   1   1  -1  -1   1   1
Satkhira      -1   1   1  -1   1  -1  -1  -1   1  -1   1   1
Chittagong     1   1   1  -1  -1   1   1   1   1  -1   1   1
Ambagan(Ctg)   1  -1  -1   1  -1   1  -1   1  -1  -1   1   1
Cox'sbazar     1  -1   1  -1   1  -1   1   1   1  -1   1   1
Feni           1   1   1  -1  -1   1  -1   1   1  -1   1  -1
Rangamati      1   1  -1   1  -1   1  -1   1  -1  -1   1   1
Sitakunda      1   1  -1  -1  -1   1  -1   1  -1  -1   1   1
Teknaf         1   1   1  -1   1   1  -1   1  -1  -1   1   1
Bogra         -1  -1  -1   1  -1   1   1   1   1  -1   1   1
Dinajpur       1  -1  -1   1  -1   1  -1   1   1  -1   1  -1
Ishurdi        1  -1   1   1  -1   1   1   1   1  -1   1   1
Rajshahi       1  -1   1  -1   1   1   1   1   1  -1   1   1
Rangpur       -1  -1  -1   1   1   1   1   1   1  -1   1  -1
sydpur         1   1  -1   1   1   1   1   1   1   1   1  -1
Srimangal      1   1  -1  -1   1  -1   1  -1   1  -1   1  -1
Sylhet         1   1  -1   1  -1   1   1  -1   1  -1   1  -1
Barisal        1   1   1  -1   1   1  -1   1  -1  -1   1   1
Bhola          1   1   1  -1   1   1  -1   1   1  -1   1   1
Hatiya         1   1   1  -1  -1   1  -1   1   1  -1   1   1
Khepupara      1  -1   1  -1  -1  -1  -1   1   1  -1   1   1
Kutubdia       1   1  -1  -1   1  -1  -1   1  -1  -1   1  -1
M.court        1   1   1  -1  -1   1  -1   1   1  -1   1   1
Mongla         1   1  -1   1   1   1  -1   1   1  -1   1   1
Patuakhali     1  -1   1  -1   1   1  -1   1   1  -1   1   1
Sandwip        1   1   1  -1  -1  -1  -1   1  -1  -1   1   1
Chandpur      -1   1   1  -1  -1   1  -1   1   1  -1   1  -1
Comilla        1   1   1   1  -1   1  -1   1  -1  -1   1  -1
Dhaka         -1   1  -1   1  -1  -1  -1   1   1  -1   1  -1
Faridpur      -1   1   1   1  -1   1   1  -1   1   1   1  -1
Madaripur     -1   1   1   1   1   1  -1   1   1  -1   1   1
Mymensingh     1   1  -1   1  -1   1   1   1   1   1   1   1
Tangail        1   1   1   1  -1   1   1   1   1  -1   1   1
File successfully saved at: /content/drive/MyDrive/research/IPTA_11Nov.csv