<a href="https://colab.research.google.com/github/trewto/Enviroment_Study/blob/main/mk_slope_lastedit_21_oct_2024_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/research/Rainfall_1981-2022.xls', header=0)

In [ ]:

# Convert day columns (1 to 31) to numeric, forcing errors to NaN
df.loc[:, 1:31] = df.loc[:, 1:31].apply(pd.to_numeric, errors='coerce')
#if needed remove this later// which will be proper way to handle the missing value
#df.loc[:, 1:31] = df.loc[:, 1:31].fillna(df.loc[:, 1:31].mean(axis=1), axis=0)

# Sum the columns from 1 to 31 row-wise, ignoring NaN values
df['sum_1_to_31'] = df.loc[:, 1:31].sum(axis=1)
df.head()

,Stati,Year,Month,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,sum_1_to_31
0,Dhaka,1981,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,10.0
1,Dhaka,1981,2,9.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,42.0
2,Dhaka,1981,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.0,0.0,13.0,0.0,8.0,0.0,2.0,0.0,109.0
3,Dhaka,1981,4,41.0,2.0,0.0,0.0,4.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,NaN,274.0
4,Dhaka,1981,5,0.0,0.0,0.0,0.0,20.0,8.0,0.0,...,0.0,0.0,13.0,1.0,1.0,1.0,43.0,45.0,0.0,272.0

In [ ]:
print(df['Stati'].unique())

['Dhaka       ' nan
 '          Daily  total  Rainfall  data  in  Millimeter  ' 'Stati'
 'Tangail     ' 'Mymensingh  ' 'Faridpur    ' 'Madaripur   '
 'Srimangal   ' 'Sylhet      ' 'Bogra       ' 'Dinajpur    '
 'Ishurdi     ' 'Rajshahi    ' 'Rangpur     ' 'sydpur      '
 'chuadanga   ' 'Jessore     ' 'Khulna      ' 'Mongla      '
 'Satkhira    ' 'Barisal     ' 'Bhola       ' 'Khepupara   '
 'Patuakhali  ' 'Chandpur    ' 'Teknaf      ' 'Chittagong  '
 'Comilla     ' "Cox'sbazar  " "Cox's Bazar " 'Feni        '
 'Hatiya      ' 'Kutubdia    ' 'M.court     ' 'Rangamati   '
 'Sandwip     ' 'Ambagan(Ctg)' 'Sitakunda   ']

In [ ]:
unique_city = df['Stati'].unique()
print(unique_city[0])

Dhaka

In [ ]:
df_city = df[df['Stati'] == 'Dhaka       ']
df_city = df_city[['Year', 'Month', 'sum_1_to_31']]
df_city.head(20)

    Year Month sum_1_to_31
0   1981     1        10.0
1   1981     2        42.0
2   1981     3       109.0
3   1981     4       274.0
4   1981     5       272.0
5   1981     6       168.0
6   1981     7       356.0
7   1981     8       188.0
8   1981     9       320.0
9   1981    10        82.0
10  1981    11         9.0
11  1981    12        35.0
12  1982     1         0.0
13  1982     2        15.0
14  1982     3        81.0
15  1982     4       104.0
16  1982     5       154.0
17  1982     6       514.0
18  1982     7       136.0
19  1982     8       346.0

In [ ]:
!pip install pymannkendall

Collecting pymannkendall
  Downloading pymannkendall-1.4.3-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pymannkendall) (1.26.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from pymannkendall) (1.13.1)
Downloading pymannkendall-1.4.3-py3-none-any.whl (12 kB)
Installing collected packages: pymannkendall
Successfully installed pymannkendall-1.4.3

In [ ]:
import pandas as pd
import pymannkendall as mk

# Function to calculate Mann-Kendall slope (Sen's slope) and Zmk for each month
def calculate_mk_slope(df):
    # Initialize a result dictionary to store Zmk and Q values for each month
    results = {}

    # Loop over each month (1 to 12)
    for month in range(1, 13):
        # Filter data for the specific month
        month_data = df[df['Month'] == month]

        # Perform Mann-Kendall test (it returns Zmk and Sen's slope Q)
        mk_test_result = mk.original_test(month_data['sum_1_to_31'])

        # Store the results in the dictionary
        results[month] = {'Zmk': mk_test_result.z, 'Q (Sen\'s slope)': mk_test_result.slope}

    # Convert the result dictionary into a DataFrame for better visualization
    results_df = pd.DataFrame(results).T
    return results_df

In [ ]:
# dataframe is named df_city
mk_results = calculate_mk_slope(df_city)
print(mk_results)

         Zmk  Q (Sen's slope)
1  -1.163835         0.000000
2  -0.958013        -0.136364
3  -1.974571        -1.407407
4  -1.409026        -1.666667
5  -0.953952        -1.270270
6  -0.140894        -0.300000
7   0.346837         1.058824
8  -0.130079        -0.200000
9  -2.915771        -4.285714
10 -0.216748        -0.300000
11 -0.544310         0.000000
12 -0.313600         0.000000

**Making Function to call citywiSE**

In [ ]:
import numpy as np

In [ ]:
print(unique_city)

['Dhaka       ' nan
 '          Daily  total  Rainfall  data  in  Millimeter  ' 'Stati'
 'Tangail     ' 'Mymensingh  ' 'Faridpur    ' 'Madaripur   '
 'Srimangal   ' 'Sylhet      ' 'Bogra       ' 'Dinajpur    '
 'Ishurdi     ' 'Rajshahi    ' 'Rangpur     ' 'sydpur      '
 'chuadanga   ' 'Jessore     ' 'Khulna      ' 'Mongla      '
 'Satkhira    ' 'Barisal     ' 'Bhola       ' 'Khepupara   '
 'Patuakhali  ' 'Chandpur    ' 'Teknaf      ' 'Chittagong  '
 'Comilla     ' "Cox'sbazar  " "Cox's Bazar " 'Feni        '
 'Hatiya      ' 'Kutubdia    ' 'M.court     ' 'Rangamati   '
 'Sandwip     ' 'Ambagan(Ctg)' 'Sitakunda   ']

In [ ]:
for city in unique_city:
    if city in ['          Daily  total  Rainfall  data  in  Millimeter  ', 'Stati', np.nan]:
        continue

    # Filter the data for the specific city
    df_city = df[df['Stati'] == city]
    df_city = df_city[['Year', 'Month', 'sum_1_to_31']]

    # Check if the filtered dataframe has enough data points and unique values
    if len(df_city) > 2 and df_city['sum_1_to_31'].nunique() > 1:  # At least 2 data points and multiple unique values
        try:
            mk_results = calculate_mk_slope(df_city)
            print(city)
            print(mk_results)
        except ZeroDivisionError as e:
            print(f"Error calculating MK slope for {city}: {e}")
    else:
        print(f"Not enough data or unique values for {city}")

Dhaka
         Zmk  Q (Sen's slope)
1  -1.163835         0.000000
2  -0.958013        -0.136364
3  -1.974571        -1.407407
4  -1.409026        -1.666667
5  -0.953952        -1.270270
6  -0.140894        -0.300000
7   0.346837         1.058824
8  -0.130079        -0.200000
9  -2.915771        -4.285714
10 -0.216748        -0.300000
11 -0.544310         0.000000
12 -0.313600         0.000000
Tangail
         Zmk  Q (Sen's slope)
1  -0.207118         0.000000
2  -2.084540        -0.523965
3  -0.450466        -0.157468
4  -0.163496        -0.263636
5  -0.190746        -0.486842
6   0.163496         0.322917
7  -0.694795        -1.540936
8  -0.095364        -0.161458
9  -1.702928        -3.165158
10  0.367832         0.430000
11 -1.280379         0.000000
12  0.207072         0.000000
Mymensingh
         Zmk  Q (Sen's slope)
1  -0.928646         0.000000
2  -1.210005        -0.148148
3  -1.171402        -0.521739
4  -0.335979        -0.437500
5  -0.151741        -0.444444
6   0.866991         2.095238
7  -1.907381        -5.000000
8  -0.444481        -0.888889
9  -1.820895        -3.416667
10 -0.639444        -1.000000
11  0.081307         0.000000
12 -1.542691         0.000000
Faridpur
         Zmk  Q (Sen's slope)
1  -0.609692         0.000000
2  -1.188251        -0.176471
3  -3.092136        -1.421053
4  -2.547235        -2.480000
5  -1.658673        -1.843750
6  -0.520256        -0.640000
7   1.344310         2.000000
8   0.184275         0.285714
9  -1.246568        -1.555556
10  0.401007         0.523810
11  0.000000         0.000000
12 -0.104566         0.000000
Madaripur
         Zmk  Q (Sen's slope)
1  -0.789648         0.000000
2  -0.797318        -0.100000
3  -1.965921        -1.027778
4  -1.929282        -2.151515
5  -0.747824        -1.000000
6  -1.203021        -2.285714
7  -0.899662        -1.600000
8  -1.593190        -3.062500
9  -0.249343        -0.269231
10  1.138126         1.724138
11 -0.065868         0.000000
12  0.485532         0.000000
Srimangal
         Zmk  Q (Sen's slope)
1   0.838559         0.000000
2  -1.252606        -0.200000
3  -0.842714        -0.533991
4  -0.325767        -0.500000
5   1.370383         3.803846
6   1.359065         2.149554
7   0.314554         0.414286
8   0.157297         0.154762
9  -1.730046        -1.539706
10  1.100799         1.140217
11 -1.234868        -0.122500
12  0.169522         0.000000
Sylhet
         Zmk  Q (Sen's slope)
1  -1.118243         0.000000
2  -1.096488        -0.200000
3  -1.517591        -1.312500
4  -0.780384        -1.916667
5   0.997040         2.846154
6   0.574483         2.466667
7  -1.907381        -5.444444
8  -0.108387        -0.290323
9  -1.452381        -4.956522
10  0.899556         1.714286
11 -0.666735         0.000000
12 -1.161713         0.000000
Bogra
         Zmk  Q (Sen's slope)
1  -0.287540         0.000000
2  -0.593072         0.000000
3  -0.380480        -0.040000
4   0.216867         0.090909
5   0.292627         0.434783
6   0.281805         0.343750
7  -1.365511        -2.434783
8  -0.932234        -0.891892
9  -2.113415        -3.756757
10  0.195096         0.333333
11 -2.042283         0.000000
12 -1.584147         0.000000
Dinajpur
         Zmk  Q (Sen's slope)
1  -1.416207         0.000000
2  -0.154232         0.000000
3   0.339996         0.000000
4   0.780384         0.515152
5   0.661197         0.906250
6   0.520256         0.809524
7  -2.146055        -5.840000
8  -0.769500        -1.500000
9  -1.452210        -2.466667
10  0.173466         0.230769
11 -1.407087         0.000000
12 -2.041564         0.000000
Ishurdi
         Zmk  Q (Sen's slope)
1  -0.294361         0.000000
2  -1.291928        -0.222222
3  -0.858729        -0.214286
4  -0.726233        -0.437500
5  -1.170897        -1.083333
6  -0.249343        -0.500000
7  -0.802061        -1.153846
8  -0.303483        -0.500000
9  -1.354753        -2.260870
10  1.528341         1.259259
11 -0.670499         0.000000
12 -0.058738         0.000000
Rajshahi
         Zmk  Q (Sen's slope)
1  -0.522760         0.000000
2  -1.092673        -0.078947
3   0.271868         0.000000
4  -0.086709        -0.066667
5   1.723449         1.692308
6  -1.008055        -1.461538
7  -0.942908        -1.647059
8  -1.257482        -2.090909
9  -1.354753        -2.333333
10 -0.054190        -0.080000
11 -1.890986        -0.052632
12 -1.207393         0.000000
Rangpur
         Zmk  Q (Sen's slope)
1  -0.950686         0.000000
2  -0.560203         0.000000
3  -0.553781        -0.083333
4   0.867093         0.800000
5   1.018994         0.947368
6  -1.235801        -2.333333
7  -1.452381        -5.200000
8  -0.335979        -0.823529
9  -1.560584        -4.142857
10  0.097554         0.200000
11 -2.240163         0.000000
12 -2.496994         0.000000
sydpur
         Zmk  Q (Sen's slope)
1  -1.901376        -0.196154
2   0.631146         0.000000
3   0.262014         0.000000
4   1.832941         2.112500
5   1.427236         2.421474
6  -1.086502        -4.008333
7  -0.648743        -2.792614
8   0.794815         2.566964
9  -1.540563        -6.045455
10 -0.584228        -0.884615
11 -2.675261         0.000000
12 -1.348762         0.000000
chuadanga
         Zmk  Q (Sen's slope)
1  -1.193488         0.000000
2   0.104389         0.000000
3   0.297603         0.035714
4   1.380850         1.000000
5   1.601744         2.000000
6  -0.919318        -1.636364
7  -0.904390        -1.875000
8  -0.044478        -0.200000
9  -1.482444        -3.263158
10 -0.474626        -0.625000
11 -0.349422         0.000000
12  1.167973         0.000000
Jessore
         Zmk  Q (Sen's slope)
1  -1.493234         0.000000
2  -0.720820        -0.045455
3  -0.955225        -0.466667
4  -0.574483        -0.391304
5  -0.672076        -0.800000
6  -1.398105        -2.320000
7   1.636542         2.800000
8  -0.466035        -0.600000
9  -0.151759        -0.117647
10  0.726148         0.916667
11 -0.066425         0.000000
12 -0.481609         0.000000
Khulna
         Zmk  Q (Sen's slope)
1  -1.573663         0.000000
2  -0.370083         0.000000
3  -1.467045        -0.411765
4  -1.864469        -1.368421
5  -0.791176        -1.000000
6  -0.444359        -0.840000
7   1.571514         3.133333
8  -0.856204        -0.925926
9   1.083994         1.531250
10  1.127221         1.500000
11 -0.752082         0.000000
12 -0.638817         0.000000
Mongla
         Zmk  Q (Sen's slope)
1  -1.737602        -0.083333
2  -1.823187        -0.625000
3  -1.888156        -0.666667
4  -1.038263        -0.857143
5   0.291935         0.464103
6   0.145948         0.359914
7   1.475697         4.071429
8   0.259497         0.569231
9  -0.697307        -1.908467
10  1.232613         2.627451
11 -0.638458        -0.050505
12  1.596154         0.000000
Satkhira
         Zmk  Q (Sen's slope)
1  -1.373809         0.000000
2  -0.842886        -0.058824
3  -0.912990        -0.240000
4  -2.905103        -1.970588
5   0.531126         0.652174
6  -0.146034        -0.258333
7  -0.293107        -0.533333
8  -1.495911        -1.694444
9  -0.173439        -0.250000
10  0.975480         1.130435
11 -0.708208         0.000000
12  0.000000         0.000000
Barisal
         Zmk  Q (Sen's slope)
1  -1.393662         0.000000
2  -1.168672        -0.166667
3  -1.551418        -0.357143
4  -1.344468        -1.400000
5  -0.921449        -1.363636
6  -0.531126        -1.607143
7  -0.227625        -0.444444
8  -1.149033        -1.846154
9   0.921449         1.200000
10  1.278812         2.324324
11 -1.160453        -0.200000
12 -0.130823         0.000000
Bhola
         Zmk  Q (Sen's slope)
1  -1.383534         0.000000
2  -1.394454        -0.218750
3  -1.499734        -0.435897
4  -2.373528        -2.600000
5  -0.921340        -1.521739
6  -1.517235        -4.571429
7  -0.823738        -1.450000
8  -0.867093        -1.384615
9  -0.585288        -0.791667
10  1.734186         2.360000
11 -0.788694         0.000000
12  0.328881         0.000000
Khepupara
         Zmk  Q (Sen's slope)
1  -0.506104         0.000000
2  -1.200973        -0.066667
3  -1.169696        -0.076923
4  -2.395767        -1.714286
5  -0.205922        -0.352941
6   0.086699         0.500000
7   1.712308         4.896552
8   0.249275         0.400000
9   1.116317         2.315789
10  2.818052         6.378378
11 -0.472024         0.000000
12  0.118888         0.000000
Patuakhali
         Zmk  Q (Sen's slope)
1  -1.125254         0.000000
2  -1.372715        -0.181818
3  -1.122976        -0.166667
4  -2.493674        -2.352941
5  -1.083866        -1.600000
6  -1.820895        -5.000000
7   0.130100         0.400000
8  -0.997157        -2.428571
9  -0.216799        -0.419355
10  2.276119         4.166667
11 -0.752195        -0.076923
12 -1.060600         0.000000
Chandpur
         Zmk  Q (Sen's slope)
1  -0.693015         0.000000
2   0.295640         0.000000
3  -1.779144        -1.000000
4  -1.495911        -1.684211
5  -0.335979        -1.000000
6   0.108404         0.233333
7  -0.747824        -1.320000
8  -0.780475        -1.481481
9  -0.986260        -1.214286
10  1.680750         2.176471
11 -0.276585         0.000000
12 -0.846239         0.000000
Teknaf
         Zmk  Q (Sen's slope)
1  -0.345359         0.000000
2  -1.937641         0.000000
3  -0.763246         0.000000
4  -1.237937        -0.833333
5   0.682796         1.567568
6  -1.322161        -7.428571
7   0.650243         3.687500
8  -1.354753        -4.880000
9   1.213930         2.900000
10  1.029612         1.913043
11 -2.528331        -1.655172
12 -0.036713         0.000000
Chittagong
         Zmk  Q (Sen's slope)
1  -0.668583         0.000000
2  -1.628872        -0.074074
3  -1.922306        -1.333333
4  -1.848508        -2.875000
5   0.251438         0.500000
6   0.414906         1.714286
7  -0.704027        -3.578947
8   0.326870         1.187500
9   1.483719         2.875000
10  1.358195         2.714286
11 -1.754581        -0.578947
12  0.145317         0.000000
Comilla
         Zmk  Q (Sen's slope)
1  -0.975755         0.000000
2  -0.786568        -0.083333
3  -1.139019        -0.576923
4  -0.932125        -1.384615
5  -0.888666        -1.296296
6   0.856204         1.625000
7   0.000000        -0.085714
8  -1.528162        -2.333333
9   0.639519         0.809524
10  0.140894         0.606061
11 -0.804777         0.000000
12  0.575476         0.000000
Cox'sbazar
         Zmk  Q (Sen's slope)
1  -0.882103         0.000000
2  -2.052265        -0.013889
3  -0.583044         0.000000
4  -1.910112        -1.948718
5  -0.067396        -0.279781
6  -0.449306        -2.809091
7   1.336601         4.068627
8   0.168479         0.658442
9   0.067404         0.127874
10  2.033494         3.941667
11 -2.804785        -2.000000
12 -0.551080         0.000000
Error calculating MK slope for Cox's Bazar : float division by zero
Feni
         Zmk  Q (Sen's slope)
1  -1.048777         0.000000
2  -1.878725        -0.263158
3  -0.826071        -0.285714
4  -2.113663        -3.090909
5  -1.170438        -2.642857
6   0.487711         0.937500
7  -1.029612        -4.031250
8  -0.715352        -2.000000
9   0.758617         1.700000
10  1.723246         2.809524
11 -0.955026        -0.090909
12 -1.015726         0.000000
Hatiya
         Zmk  Q (Sen's slope)
1  -0.451737         0.000000
2  -0.053908         0.000000
3  -0.696244        -0.140873
4  -1.530491        -2.555556
5   0.326972         0.837500
6   0.366240         1.745238
7   1.321193         6.368421
8  -0.222379        -0.708333
9   0.379417         1.000000
10  1.857678         5.674242
11 -0.436407         0.000000
12  0.268005         0.000000
Kutubdia
         Zmk  Q (Sen's slope)
1   0.815007         0.000000
2  -1.360647         0.000000
3  -1.121983        -0.083333
4  -1.031059        -1.000000
5   0.289177         0.833333
6  -0.389760        -1.739130
7   0.905177         4.200000
8   0.691509         2.846154
9   0.641218         1.434783
10  1.018566         1.642857
11 -3.033442        -1.750000
12  0.729196         0.000000
M.court
         Zmk  Q (Sen's slope)
1  -0.397870         0.000000
2  -0.821223        -0.100000
3  -1.704174        -0.833333
4  -1.495735        -1.826087
5  -0.509387        -1.454545
6  -0.325160        -0.923077
7  -1.571514        -5.181818
8  -2.882746        -6.933333
9  -0.585288        -0.931034
10  2.546936         4.631579
11 -0.541886         0.000000
12 -0.457898         0.000000
Rangamati
         Zmk  Q (Sen's slope)
1   0.409956         0.000000
2  -1.255814        -0.038462
3  -0.904564        -0.200000
4  -1.062189        -1.111111
5  -0.411821        -0.666667
6   1.593190         4.115385
7  -0.151741        -0.550000
8  -0.704554        -1.909091
9   0.888666         1.000000
10  2.351852         2.500000
11 -1.826267        -0.750000
12 -0.034844         0.000000
Sandwip
         Zmk  Q (Sen's slope)
1  -0.327682         0.000000
2  -1.032421         0.000000
3  -1.419859        -0.411654
4  -1.876523        -3.014286
5   0.831216         1.631773
6   0.808751         2.559908
7   0.954715         5.791667
8   0.516702         2.071429
9   0.483034         1.261290
10  0.527968         1.286667
11 -1.385142        -0.333333
12 -0.289788         0.000000
Ambagan(Ctg)
         Zmk  Q (Sen's slope)
1   0.716924         0.000000
2   0.814788         0.000000
3  -0.024840         0.000000
4   0.000000         0.000000
5  -1.736843        -6.604779
6  -0.669719       -10.857692
7  -0.074413        -1.422601
8  -1.190978        -9.028571
9   1.042106         7.290909
10 -0.446617        -1.875000
11 -0.754493        -0.333333
12 -0.278459         0.000000
Sitakunda
         Zmk  Q (Sen's slope)
1   0.552317         0.000000
2  -1.711710        -0.054054
3  -2.383252        -1.384615
4  -1.333077        -1.954545
5  -0.487711        -0.789474
6   1.517591         4.235294
7  -0.140894        -1.000000
8  -0.390146        -1.285714
9   0.628642         1.586207
10  0.000000         0.000000
11 -2.189796        -0.333333
12  0.843659         0.000000