<a href="https://colab.research.google.com/github/trewto/Enviroment_Study/blob/main/mk_slope.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/research/Rainfall_1981-2022.xls', header=0)

In [4]:

# Convert day columns (1 to 31) to numeric, forcing errors to NaN
df.loc[:, 1:31] = df.loc[:, 1:31].apply(pd.to_numeric, errors='coerce')
#if needed remove this later// which will be proper way to handle the missing value
#df.loc[:, 1:31] = df.loc[:, 1:31].fillna(df.loc[:, 1:31].mean(axis=1), axis=0)

# Sum the columns from 1 to 31 row-wise, ignoring NaN values
df['sum_1_to_31'] = df.loc[:, 1:31].sum(axis=1)
df.head()

,Stati,Year,Month,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,sum_1_to_31
0,Dhaka,1981,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,10.0
1,Dhaka,1981,2,9.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,42.0
2,Dhaka,1981,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.0,0.0,13.0,0.0,8.0,0.0,2.0,0.0,109.0
3,Dhaka,1981,4,41.0,2.0,0.0,0.0,4.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,NaN,274.0
4,Dhaka,1981,5,0.0,0.0,0.0,0.0,20.0,8.0,0.0,...,0.0,0.0,13.0,1.0,1.0,1.0,43.0,45.0,0.0,272.0

In [5]:
print(df['Stati'].unique())

['Dhaka       ' nan
 '          Daily  total  Rainfall  data  in  Millimeter  ' 'Stati'
 'Tangail     ' 'Mymensingh  ' 'Faridpur    ' 'Madaripur   '
 'Srimangal   ' 'Sylhet      ' 'Bogra       ' 'Dinajpur    '
 'Ishurdi     ' 'Rajshahi    ' 'Rangpur     ' 'sydpur      '
 'chuadanga   ' 'Jessore     ' 'Khulna      ' 'Mongla      '
 'Satkhira    ' 'Barisal     ' 'Bhola       ' 'Khepupara   '
 'Patuakhali  ' 'Chandpur    ' 'Teknaf      ' 'Chittagong  '
 'Comilla     ' "Cox'sbazar  " "Cox's Bazar " 'Feni        '
 'Hatiya      ' 'Kutubdia    ' 'M.court     ' 'Rangamati   '
 'Sandwip     ' 'Ambagan(Ctg)' 'Sitakunda   ']

In [13]:
df_city = df[df['Stati'] == 'Dhaka       ']
df_city = df_city[['Year', 'Month', 'sum_1_to_31']]
df_city.head(20)

    Year Month sum_1_to_31
0   1981     1        10.0
1   1981     2        42.0
2   1981     3       109.0
3   1981     4       274.0
4   1981     5       272.0
5   1981     6       168.0
6   1981     7       356.0
7   1981     8       188.0
8   1981     9       320.0
9   1981    10        82.0
10  1981    11         9.0
11  1981    12        35.0
12  1982     1         0.0
13  1982     2        15.0
14  1982     3        81.0
15  1982     4       104.0
16  1982     5       154.0
17  1982     6       514.0
18  1982     7       136.0
19  1982     8       346.0

In [10]:
!pip install pymannkendall

Collecting pymannkendall
  Downloading pymannkendall-1.4.3-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pymannkendall) (1.26.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from pymannkendall) (1.13.1)
Downloading pymannkendall-1.4.3-py3-none-any.whl (12 kB)
Installing collected packages: pymannkendall
Successfully installed pymannkendall-1.4.3

In [14]:
import pandas as pd
import pymannkendall as mk

# Function to calculate Mann-Kendall slope (Sen's slope) and Zmk for each month
def calculate_mk_slope(df):
    # Initialize a result dictionary to store Zmk and Q values for each month
    results = {}

    # Loop over each month (1 to 12)
    for month in range(1, 13):
        # Filter data for the specific month
        month_data = df[df['Month'] == month]

        # Perform Mann-Kendall test (it returns Zmk and Sen's slope Q)
        mk_test_result = mk.original_test(month_data['sum_1_to_31'])

        # Store the results in the dictionary
        results[month] = {'Zmk': mk_test_result.z, 'Q (Sen\'s slope)': mk_test_result.slope}

    # Convert the result dictionary into a DataFrame for better visualization
    results_df = pd.DataFrame(results).T
    return results_df

In [15]:
# dataframe is named df_city
mk_results = calculate_mk_slope(df_city)
print(mk_results)

         Zmk  Q (Sen's slope)
1  -1.163835         0.000000
2  -0.958013        -0.136364
3  -1.974571        -1.407407
4  -1.409026        -1.666667
5  -0.953952        -1.270270
6  -0.140894        -0.300000
7   0.346837         1.058824
8  -0.130079        -0.200000
9  -2.915771        -4.285714
10 -0.216748        -0.300000
11 -0.544310         0.000000
12 -0.313600         0.000000